@import '/src/styles/variables.scss';
.distance {
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 124px;
  &_line {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
}

.program {
  border-bottom: 1px solid black;
  border-top: 1px solid black;

  position: relative;
  scrollbar-width: 0; /* Для Firefox */
  -webkit-scrollbar-width: 0; /* Для WebKit (Chrome и Safari) */
  -webkit-scrollbar: {
    width: 0px; /* Ширина полосы прокрутки */
  }
  scroll-behavior: smooth;
  scroll-snap-align: center;
}
.learn_program {
  overflow-y: scroll;
  display: grid;
  grid-template-rows: 15% 85%;
  height: 1030px;
  position: sticky;
  top: 0;
  // scroll-snap-type: y mandatory;
  // scroll-behavior: smooth;

  &__heading {
    position: sticky;
    top: 0;
    h1 {
      color: var(--black, #000);
      font-family: Helvetica;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -0.16px;
      text-transform: uppercase;
      border-left: 1px solid black;
      border-right: 1px solid black;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 43px;
    }
  }
  &__main {
    position: sticky;
    top: 15%;
    border: 1px solid black;
    border-bottom: none;
    padding: 116px 0% 0% 44px;
    display: grid;
    grid-template-rows: 48% 52%;

    h2 {
      color: var(--black, #000);
      font-family: Helvetica;
      font-size: 83px;
      font-style: normal;
      font-weight: 400;
      line-height: 113%; /* 98.31px */
      letter-spacing: -0.16px;
      text-transform: uppercase;
      margin-bottom: 70px;
    }
    p {
      color: var(--black, #000);
      font-family: Helvetica;
      font-size: 37px;
      font-style: normal;
      font-weight: 400;
      line-height: 113%; /* 45.2px */
      letter-spacing: -0.16px;
    }
    .bottom_section {
      display: flex;
      //overflow: hidden;

      &__figure {
        background-image: url('/binary.svg');
        background-size: auto;
        background-repeat: no-repeat;
        height: 100%;
        width: 45%;
        background-position: 40% 60%;
      }
    }
  }
}
.scrolling {
  border-right: 1px solid black;
  width: 913px;
  height: auto;
  position: absolute;
  top: 65%;
  right: 1px;
  //box-shadow: -10px 4px 28px 0px rgba(0, 0, 0, 0.14);
  // width: 100vh;
  //height: 100vh;
  // scroll-behavior: smooth;
  // scroll-snap-align: center;

  // scroll-behavior: smooth;
  // ::-webkit-scrollbar {
  //   width: 0;
  // }

  .scroll_blocks {
    background: #eaeaea;
    box-shadow: -10px 4px 28px 0px rgba(0, 0, 0, 0.14);

    z-index: 2;
    height: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-right: none;
    //  scroll-snap-align: end;
    h3 {
      color: var(--black, #000);
      font-family: Helvetica;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -0.16px;
      text-transform: uppercase;
      margin: 3%;
    }
    p {
      color: var(--black, #000);
      font-family: Helvetica;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 113%;
      letter-spacing: -0.16px;
      margin: 0 3%;
    }
    button {
      color: var(--black, #000);
      font-family: Helvetica;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 113%; /* 27.12px */
      letter-spacing: -0.16px;
      text-decoration-line: underline;
      border: none;
      text-align: left;
      margin: 10% 3% 0 3%;
      width: 17%;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      background: #eaeaea;
      img {
        align-self: center;
        margin-left: 5%;
      }
    }
    .bottom_color {
      width: 1calc (100% - 2%);
      margin: 0 2% 0 2%;
      height: 12px;
      background-color: #eaeaea;
      border: 1px solid black;
      transition-duration: 0.5s;
    }
  }

  .scroll_blocks:hover {
    .bottom_color {
      background-color: #e97810;
    }
  }
}
@media (max-width: 1800px) {
  .scrolling {
    width: 783px;
  }
}

@media (max-width: 1600px) {
  .scrolling {
    width: 713px;
  }
}
@media (max-width: 1500px) {
  .learn_program {
    &__main {
      .bottom_section {
        &__figure {
          height: 100%;
          width: 50%;
          background-size: 100%;
        }
      }
    }
  }
  .scrolling {
    width: 703px;
    .scroll_blocks {
      height: 204px;
      h3 {
        font-size: 30px;
      }
      p {
        font-size: 16px;
      }
      button {
        font-size: 16px;
        img {
          height: 12px;
        }
      }
      .bottom_color {
        height: 8px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .scrolling {
    width: 603px;
  }
}

@media (max-width: 1050px) {
  .program {
    border-bottom: 1px solid black;
  }
  .learn_program {
    height: 572px;
    &__heading {
      h1 {
        font-size: 22px;
      }
    }
    &__main {
      padding: 64px 0 0 24px;
      h2 {
        font-size: 48px;
        margin-bottom: 20px;
      }
      p {
        font-size: 22px;
      }
      .bottom_section {
        &__figure {
          height: 100%;
          width: 45%;
          background-size: 100%;
        }
      }
    }
  }
  .scrolling {
    width: 553px;
    .scroll_blocks {
      height: 150px;
      h3 {
        font-size: 22px;
      }
      p {
        font-size: 13px;
      }
      button {
        font-size: 13px;
        img {
          height: 10px;
        }
      }
      .bottom_color {
        height: 4px;
      }
    }
  }
}
@media (max-width: $desktop-width) {
  .scrolling {
    margin-right: 50px;
    width: 55%;
  }
}
@media (max-width: $tablet-width) {
  .distance {
    height: 102px;
  }
  .program {
    height: auto;
  }
  .learn_program {
    display: grid;
    grid-template-rows: 3% auto;
    height: 2240px;

    &__heading {
      h1 {
        font-size: 28px;
        border-left: 1px solid black;
        border-right: 1px solid black;
        height: auto;
        display: flex;
        align-items: center;
        padding: 20px 16px 20px 16px;
      }
    }
    &__main {
      top: 2.9%;
      padding: 30px 0;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: none;
      overflow: hidden;
      grid-template-rows: 12% 88%;
      h2 {
        font-size: 52px;
        text-transform: uppercase;
        margin: 0 20px 0 20px;
        align-self: center;
        margin-bottom: 50px;
      }
      p {
        font-size: 25px;
        margin: 0 20px;
        align-self: end;
      }
      .bottom_section {
        display: grid;
        flex-direction: column;
        grid-template-rows: 25% auto;
        height: 100%;

        &__figure {
          background-size: auto;
          width: 100%;
          height: 100%;
          background-position: 40% 60%;
        }
      }
    }
  }
  .scrolling {
    border-right: none;
    top: 35%;
    margin-left: 17px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 34px);

    .scroll_blocks {
      height: 160px;
      border: none;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-size: 20px;
        margin: 3%;
      }
      p {
        font-size: 15px;
        margin: 0 3%;
      }
      button {
        font-size: 20px;
        text-decoration-line: underline;
        border: none;
        text-align: left;
        margin: 7% 3% 0 3%;
        width: 17%;
        display: flex;
        justify-content: space-between;
        img {
          align-self: center;
          margin-left: 5%;
        }
      }
      .bottom_color {
        width: 1calc (100% - 2%);
        margin: 0 2% 0 2%;
        height: 4px;
        border: 1px solid black;
        transition-duration: 0.5s;
      }
    }
  }
}
@media (max-width: 680px) {
  .learn_program {
    &__main {
      padding: 30px 0;
      h2 {
        font-size: 45px;
      }
    }
  }
}
@media (max-width: $mobile-width) {
  .learn_program {
    height: 1965px;

    &__heading {
      h1 {
        font-size: 28px;
        border-left: 1px solid black;
        border-right: 1px solid black;
        height: auto;
        display: flex;
        align-items: center;
        padding: 20px 16px 20px 16px;
      }
    }
    &__main {
      padding: 30px 0;
      h2 {
        font-size: 35px;
      }
      p {
        font-size: 18px;
      }
      .bottom_section {
        &__figure {
          width: auto;
        }
      }
    }
  }
  .scrolling {
    .scroll_blocks {
      height: 140px;

      h3 {
        font-size: 18px;
        margin: 3%;
      }
      p {
        font-size: 12px;
        margin: 0 3%;
      }
      button {
        font-size: 17px;
        text-decoration-line: underline;
        border: none;
        text-align: left;
        margin: 10% 3% 0 3%;
        width: 17%;
        display: flex;
        justify-content: space-between;
        img {
          align-self: center;
          margin-left: 5%;
        }
      }
      .bottom_color {
        width: calc (100% - 2%);
        margin: 0 2% 0 2%;
        height: 3px;
        border: 1px solid black;
        transition-duration: 0.5s;
      }
    }
  }
}
@media (max-width: 480px) {
  .learn_program {
    height: 1716px;

    &__heading {
      h1 {
        font-size: 22px;
        padding: 15px 16px 20px 16px;
      }
    }
    &__main {
      padding: 47px 0px 0% 0px;
      h2 {
        font-size: 40px;
      }
      p {
        font-size: 15px;
      }
      .bottom_section {
        &__figure {
          background-position: center;
          background-size: 150%;
        }
      }
    }
  }
  .scrolling {
    .scroll_blocks {
      height: 120px;

      h3 {
        font-size: 18px;
        margin: 3%;
      }
      p {
        font-size: 12px;
        margin: 0 3%;
      }
      button {
        font-size: 17px;
        margin: 10% 3% 0 3%;
        width: 17%;
        img {
          margin-left: 5%;
        }
      }
      .bottom_color {
        margin: 0 2% 0 2%;
        height: 3px;
      }
    }
  }
}
