@import '/src/styles/variables.scss';

.distance {
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 124px;
  &_line {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
}

.learn_program {
  // display: grid;
  //  grid-template-rows: 15% 85%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  //height: 1030px;

  &__heading {
    height: 123px;
    //  width: 100%;
    h1 {
      border-bottom: 1px solid black;
      color: var(--black, #000);
      font-family: Helvetica;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -0.16px;
      text-transform: uppercase;
      border-left: 1px solid black;
      border-right: 1px solid black;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 3%;
    }
  }
  &__main {
    border: 1px solid black;
    border-bottom: none;
    padding: 116px 0% 0% 44px;
    // display: grid;
    // grid-template-rows: 20% 28% 52%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 {
      color: var(--black, #000);
      font-family: Helvetica;
      font-size: 83px;
      font-style: normal;
      font-weight: 400;
      line-height: 113%;
      letter-spacing: -0.16px;
      text-transform: uppercase;
      margin-bottom: 70px;
    }
    p {
      color: var(--black, #000);
      font-family: Helvetica;
      font-size: 37px;
      font-style: normal;
      font-weight: 400;
      line-height: 113%;
      letter-spacing: -0.16px;
      margin-bottom: 3%;
    }
    .bottom_section {
      display: flex;

      &__figure {
        //margin-top: 1%;
        background-image: url('/binary.svg');
        background-size: 150%;
        background-repeat: no-repeat;
        height: 350px;
        width: 45%;
        background-position: 40% 60%;
      }
      &__scrolling {
        width: 70%;
        border: 1px solid black;
        height: 100%;
        box-shadow: -10px 4px 28px 0px rgba(0, 0, 0, 0.14);
        background: #eaeaea;
        position: relative;
        align-self: end;

        div:first-child .scroll_blocks {
          z-index: 1000;
        }

        .scroll_blocks {
          height: 230px;
          border-bottom: 1px solid black;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          transition: height 0.5s ease;
          position: absolute;
          background: #eaeaea;

          h3 {
            color: var(--black, #000);
            font-family: Helvetica;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: -0.16px;
            text-transform: uppercase;
            margin: 3%;
          }
          p {
            color: var(--black, #000);
            font-family: Helvetica;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 113%;
            letter-spacing: -0.16px;
            margin: 0 3%;
          }
          button {
            color: var(--black, #000);
            font-family: Helvetica;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 113%; /* 27.12px */
            letter-spacing: -0.16px;
            text-decoration-line: underline;
            border: none;
            text-align: left;
            margin: 10% 3% 0 3%;
            width: 17%;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            background: #eaeaea;
            img {
              align-self: center;
              margin-left: 5%;
            }
          }
          .bottom_color {
            width: 1calc (100% - 2%);
            margin: 0 2% 0 2%;
            height: 12px;
            background-color: #eaeaea;
            border: 1px solid black;
            transition-duration: 0.5s;
          }
        }

        .scroll_blocks:hover {
          .bottom_color {
            background-color: #e97810;
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .learn_program {
    &__heading {
      height: 100px;
      h1 {
        font-size: 27px;
      }
    }
    &__main {
      h2 {
        font-size: 70px;
      }
      p {
        font-size: 27px;
      }
      .bottom_section {
        &__figure {
          height: 300px;
          width: 45%;
          background-size: 150%;
        }
        &__scrolling {
          .scroll_blocks {
            height: 204px;
            h3 {
              font-size: 30px;
            }
            p {
              font-size: 16px;
            }
            button {
              font-size: 16px;
              img {
                height: 12px;
              }
            }
            .bottom_color {
              height: 8px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .learn_program {
    //  height: 572px;
    &__heading {
      height: 72px;
      h1 {
        font-size: 22px;
      }
    }
    &__main {
      //height: 500px;
      padding: 64px 0 0 24px;
      h2 {
        font-size: 48px;
        margin-bottom: 40px;
      }
      p {
        font-size: 22px;
      }
      .bottom_section {
        &__figure {
          height: 250px;
          width: 45%;
          background-size: 150%;
        }
        &__scrolling {
          .scroll_blocks {
            height: 150px;
            h3 {
              font-size: 22px;
            }
            p {
              font-size: 13px;
            }
            button {
              font-size: 13px;
              img {
                height: 10px;
              }
            }
            .bottom_color {
              height: 4px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .distance {
    height: 102px;
  }
  .learn_program {
    border-top: 1px solid black;
    border-bottom: none;
    //  height: 1100px;

    &__heading {
      height: 100px;

      h1 {
        height: 100%;
        font-size: 28px;
        border-left: 1px solid black;
        border-right: 1px solid black;
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
    &__main {
      // display: grid;
      border: 1px solid black;
      padding: 67px 0 0 0;
      //grid-template-rows: 15% 15% 70%;

      display: flex;
      flex-direction: column;

      h2 {
        font-size: 52px;
        text-transform: uppercase;
        margin: 0 20px 45px 20px;
      }
      p {
        font-size: 25px;
        margin: 0 20px;
      }
      .bottom_section {
        display: flex;
        flex-direction: column;
        height: 100%;

        &__figure {
          width: 100%;
          height: 500px;
          background-position: 40% 60%;
        }
        &__scrolling {
          width: 100%;
          border: none;
          border-top: 1px solid black;
          height: 100%;
          .scroll_blocks {
            height: 160px;
            border-bottom: 1px solid black;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;

            h3 {
              font-size: 20px;
              margin: 3%;
            }
            p {
              font-size: 15px;
              margin: 0 3%;
            }
            button {
              font-size: 20px;
              text-decoration-line: underline;
              border: none;
              text-align: left;
              margin: 7% 3% 0 3%;
              width: 17%;
              display: flex;
              justify-content: space-between;
              img {
                align-self: center;
                margin-left: 5%;
              }
            }
            .bottom_color {
              width: 1calc (100% - 2%);
              margin: 0 2% 0 2%;
              height: 4px;
              border: 1px solid black;
              transition-duration: 0.5s;
            }
          }
        }
      }
    }
  }
}
@media (max-width: $mobile-width) {
  .learn_program {
    border-top: 1px solid black;
    // height: 1000px;

    &__heading {
      h1 {
        font-size: 28px;
        border-left: 1px solid black;
        border-right: 1px solid black;
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
    &__main {
      //   height: 900px;
      padding: 67px 0px 0% 0px;
      h2 {
        font-size: 48px;
      }
      p {
        font-size: 18px;
      }
      .bottom_section {
        &__figure {
          width: auto;
          height: 400px;
        }
        &__scrolling {
          .scroll_blocks {
            height: 140px;

            h3 {
              font-size: 18px;
              margin: 3%;
            }
            p {
              font-size: 12px;
              margin: 0 3%;
            }
            button {
              font-size: 17px;
              text-decoration-line: underline;
              border: none;
              text-align: left;
              margin: 10% 3% 0 3%;
              width: 17%;
              display: flex;
              justify-content: space-between;
              img {
                align-self: center;
                margin-left: 5%;
              }
            }
            .bottom_color {
              width: calc (100% - 2%);
              margin: 0 2% 0 2%;
              height: 3px;
              border: 1px solid black;
              transition-duration: 0.5s;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 447px) {
  .learn_program {
    //  height: 800px;

    &__heading {
      height: 70px;
      h1 {
        font-size: 22px;
      }
    }
    &__main {
      padding: 47px 0 0 0;
      h2 {
        font-size: 40px;
      }
      p {
        font-size: 15px;
      }
      .bottom_section {
        &__figure {
          background-position: center;
          background-size: 150%;
          height: 300px;
        }
        &__scrolling {
          .scroll_blocks {
            height: 120px;

            h3 {
              font-size: 18px;
              margin: 3%;
            }
            p {
              font-size: 12px;
              margin: 0 3%;
            }
            button {
              font-size: 17px;
              margin: 10% 3% 0 3%;
              width: 17%;
              img {
                margin-left: 5%;
              }
            }
            .bottom_color {
              margin: 0 2% 0 2%;
              height: 3px;
            }
          }
        }
      }
    }
  }
}
