.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info__balance {
  font-family: Helvetica Neue;
  font-size: 30px;
  font-weight: 600;
  line-height: 42.73px;
  text-align: left;
  span {
    font-weight: 200;
  }
}

.info__estimatedWrap {
  display: flex;
  gap: 11px;
}

.info__estimatedText {
  background: rgba(255, 255, 255, 0.27);
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.47px;
  text-align: left;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.balance__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance {
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 300;
  line-height: 36.63px;
  text-align: left;
}

.balance__val {
  color: white;
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.42px;
  text-align: right;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sharesSold {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sharesSold__top {
  display: flex;
  justify-content: space-between;
  span {
    font-family: Helvetica Neue;
    font-size: 25px;
    font-weight: 700;
    line-height: 30.52px;
    text-align: right;
    background: linear-gradient(174.4deg, #beff6b 4.42%, #547ed0 181.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.sharesSold__title {
  font-family: Helvetica Neue;
  font-size: 25px;
  font-weight: 500;
  line-height: 30.52px;
  text-align: left;
  background: linear-gradient(174.4deg, #beff6b 4.42%, #547ed0 181.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.sharesSold__progress {
  background: rgba(115, 115, 115, 0.3);
  width: 100%;
  height: 9px;
  border-radius: 20px;
  overflow: hidden;
}
.sharesSold__progressLine {
  background: rgba(190, 255, 107, 1);
  height: 9px;
  border-radius: 20px;
}

.sharesSold__text {
  font-family: Helvetica Neue;
  font-size: 25px;
  font-weight: 400;
  line-height: 29.82px;
  text-align: center;
  span {
    font-family: Helvetica Neue;
    font-size: 30px;
    font-weight: 700;
    line-height: 36.63px;
    text-align: center;
    color: rgba(190, 255, 107, 1);
  }
}

@media (max-width: 1200px) {
  .main {
    gap: 20px;
    border-radius: 20px;
  }
  .info__balance {
    font-size: 20px;
    line-height: 32.73px;
  }
  .info__right {
    font-size: 13px;
    line-height: 13.86px;
    hr {
      margin: 10px 0;
    }
  }
  .balance {
    font-size: 15px;
    line-height: 20.63px;
  }
}

@media (max-width: 1000px) {
  .main {
    gap: 20px;
    border-radius: 20px;
  }
  .info__balance {
    font-size: 17px;
    line-height: 22.73px;
  }
  .info__right {
    font-size: 10px;
    line-height: 10.86px;
    hr {
      margin: 10px 0;
    }
  }
  .balance {
    font-size: 12px;
    line-height: 18.63px;
  }
}

@media (max-width: 768px) {
  .main {
    gap: 16px;
    border-radius: 15px;
  }

  .info {
    gap: 12px;
  }

  .info__balance {
    font-family: Helvetica Neue;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.98px;
    text-align: center;
  }
  .info__estimatedWrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  .info__estimatedText {
    font-family: Helvetica Neue;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.32px;
    text-align: center;
  }

  .sharesSold {
    gap: 11px;
  }

  .sharesSold__title {
    font-family: Helvetica Neue;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.54px;
    text-align: left;
  }

  .sharesSold__top {
    span {
      font-family: Helvetica Neue;
      font-size: 16px;
      font-weight: 700;
      line-height: 19.54px;
      text-align: right;
    }
  }

  .sharesSold__text {
    font-family: Helvetica Neue;
    font-size: 17.7px;
    font-weight: 400;
    line-height: 21.11px;
    text-align: center;

    span {
      font-family: Helvetica Neue;
      font-size: 18px;
      font-weight: 700;
      line-height: 21.98px;
      text-align: center;
    }
  }

  .info__right {
    font-size: 10px;
    line-height: 10.86px;
    hr {
      margin: 10px 0;
    }
  }
  .balance {
    font-family: Helvetica Neue;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.09px;
    text-align: left;
  }

  .balance__val {
    font-family: Helvetica Neue;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.09px;
    text-align: right;
  }
}
