.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info__left {
  font-family: Helvetica Neue;
  font-size: 30px;
  font-weight: 600;
  line-height: 42.73px;
  text-align: left;
  span {
    font-weight: 200;
  }
}
.info__right {
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.86px;
  text-align: right;
  hr {
    border: 0.25px solid rgba(255, 255, 255, 0.22);
    margin: 10px 0;
  }
  span {
    font-weight: 200;
  }
}

.balance__wrap {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.balance {
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 300;
  line-height: 36.63px;
  text-align: left;
  span {
    font-weight: 200;
  }
}

@media (max-width: 1200px) {
  .main {
    gap: 20px;
    border-radius: 20px;
  }
  .info__left {
    font-size: 20px;
    line-height: 32.73px;
  }
  .info__right {
    font-size: 13px;
    line-height: 13.86px;
    hr {
      margin: 10px 0;
    }
  }
  .balance {
    font-size: 15px;
    line-height: 20.63px;
  }
}

@media (max-width: 1000px) {
  .main {
    gap: 20px;
    border-radius: 20px;
  }
  .info__left {
    font-size: 17px;
    line-height: 22.73px;
  }
  .info__right {
    font-size: 10px;
    line-height: 10.86px;
    hr {
      margin: 10px 0;
    }
  }
  .balance {
    font-size: 12px;
    line-height: 18.63px;
  }
}
