.fintech {
  width: 100%;

  &__title {
    padding: 0 4%;
    height: 100%;
    color: #141414;
    font-family: Helvetica;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 148.148% */
    letter-spacing: -1.02px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  &__hiddenHeading {
    display: none;
  }
  &__headingWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 20px;
    align-items: end;
  }
  &__link {
    text-transform: lowercase;
    color: black;
    font-family: Helvetica;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 126.5%; /* 25.3px */
    letter-spacing: -0.16px;
    text-decoration-line: underline;
    cursor: pointer;
  }
  &__heading {
    font-size: 30px;
    font-weight: 700;
    line-height: 116.5%;
    text-transform: uppercase;
    text-align: end;
    width: 80%;
  }
  &__logo {
    width: 35%;
    height: auto;
  }

  &__title {
    padding: 0 4%;
    height: 100%;
    color: #141414;
    font-family: Helvetica;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 148.148% */
    letter-spacing: -1.02px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  &__titleNum {
    padding: 8px 40px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__content {
    border-bottom: 1px solid black;
    display: grid;
    grid-template-rows: 60% auto;
    height: 720px;
    position: relative;
  }
  &__contentRow1 {
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 53% auto 10.9%;

    .hiddenText {
      display: none;
    }
  }
  &__empty {
    margin-top: 178px;
    border-right: 1px solid black;
    border-top: 1px solid black;
  }
  &__text {
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: 40% 60%;
    color: var(--black, #000);
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 126.5%; /* 22.77px */
    letter-spacing: -0.16px;
    border-bottom: none;
    margin-top: 168px;
    div:first-of-type {
      margin: 0;
      border-left: 1px solid black;
      border-right: none;
      border-top: none;
      .hiddenBlock1 {
        display: none;
      }
      p {
        border: none;
      }
    }
    p {
      padding: 45px 20px;
      border-left: 1px solid black;
    }
    p:last-of-type {
      width: 80%;
      display: flex;
      align-items: center;
    }
  }
  &__img {
    border-right: 1px solid black;
    background-image: url('/payment.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-left: 1px solid black;
    background-position-y: 15px;
  }
  &__contentRow2 {
    margin-left: 53%;
    margin-right: 10.9%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0 20px;
    p {
      color: var(--black, #000);
      font-family: Helvetica;
      font-size: 19px;
      font-style: normal;
      font-weight: 400;
      line-height: 116.5%; /* 23.3px */
      letter-spacing: -0.16px;
    }
    &::after {
      background-image: url('/no_comment.svg');
      background-size: contain;

      background-repeat: no-repeat;
      content: '';
      position: absolute;
      width: 15%;
      height: 6%;
      left: 35px;
      bottom: 2%;
    }
  }
}
@media (max-width: 1700px) {
  .fintech {
    &__link {
      font-size: 11px;
    }
    &__heading {
      font-size: 25px;
    }
    &__title {
      font-size: 21px;
    }
    &__titleNum {
      padding: 6px 30px;
      width: auto;
    }
    &__empty {
      margin-top: 160px;
    }
    &__content {
      height: 700px;
    }
    &__contentRow2 {
      padding: 0 20px;
      p {
        font-size: 16px;
      }
    }
    &__text {
      margin-top: 150px;
      p {
        font-size: 16px;
        padding: 40px 20px;
      }
    }
    &__img {
      background-position-y: 15px;
    }
  }
}

@media (max-width: 1500px) {
  .fintech {
    &__link {
      font-size: 9px;
    }
    &__heading {
      font-size: 20px;
    }
    &__title {
      font-size: 19px;
    }
    &__text {
      margin-top: 140px;
      p {
        font-size: 13px;
        padding: 15px;
        line-height: 125%;
      }
    }
    &__img {
      background-position-y: 15px;
    }
    &__empty {
      margin-top: 140px;
    }
    &__content {
      height: 580px;
    }
    &__contentRow2 {
      padding: 0 20px;
      p {
        font-size: 13px;
      }
    }
  }
}
@media (max-width: 1300px) {
  .fintech {
    &__link {
      font-size: 9px;
    }
    &__heading {
      font-size: 17px;
    }
    &__title {
      font-size: 19px;
    }
    &__titleNum {
      padding: 4px 30px;
      width: auto;
    }
  }
}
@media (max-width: 1160px) {
  .fintech {
    &__link {
      font-size: 7px;
    }
    &__heading {
      font-size: 14px;
    }
    &__headingWrapper {
      gap: 3px;
    }
    &__title {
      font-size: 17px;
    }
    &__content {
      height: 450px;
    }
    &__contentRow2 {
      padding: 0 10px;
      p {
        font-size: 11px;
        line-height: 105%;
      }
    }
    &__text {
      margin-top: 120px;
      p {
        font-size: 11px;
        padding: 10px;
      }
      p:last-of-type {
        width: auto;
      }
    }

    &__img {
      background-position-y: 15px;
    }
  }
}
@media (max-width: 1100px) {
  .fintech {
    &__title {
      font-size: 17px;
    }
    &__titleNum {
      padding: 0px 30px;
    }
  }
}

@media (max-width: 900px) {
  .fintech {
    &__link {
      font-size: 6px;
    }
    &__heading {
      font-size: 12px;
    }
    &__title {
      font-size: 17px;
    }
    &__content {
      height: 400px;
    }
    &__contentRow2 {
      padding: 0 10px;
      p {
        font-size: 9px;
      }
    }
    &__text {
      margin-top: 120px;
      p {
        font-size: 10px;
        line-height: 115%;
        padding: 10px;
      }
    }
    &__img {
      background-position-y: 15px;
    }
  }
}
@media (max-width: 768px) {
  .fintech {
    &__hiddenHeading {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }
    &__link {
      font-size: 14px;
    }
    &__heading {
      font-size: 30px;
      text-align: start;
    }
    &__headingWrapper {
      display: none;
    }
    &__title {
      flex-direction: column;
      padding: 20px;
      font-size: 27px;
      align-items: unset;
      p {
        padding: 0 2%;
        text-align: center;
      }
    }
    &__titleNum {
      padding: 10px 60px;
      border-right: 1px solid black;
      height: 100%;
      display: none;
      align-items: right;
      width: fit-content;
    }
    &__content {
      display: grid;
      grid-template-rows: none;
      height: auto;
      border-bottom: none;
      margin-left: 0px;
      position: relative;
      margin-bottom: 80px;
    }
    &__textLast {
      display: none;
    }
    &__text {
      width: auto;
      border-top: none;
      display: grid;
      grid-template-columns: none;
      line-height: 126.5%;
      border-bottom: none;
      margin-top: 0px;
      div:first-of-type {
        border-left: none;
      }
      p {
        font-size: 18px;
        padding: 45px 20px;
        border-left: 1px solid black;
      }

      div:last-of-type {
        display: grid;
        p {
          width: auto;
        }
        .hiddenBlock1 {
          width: auto;
          display: flex;
          border-bottom: 1px solid black;

          &__num {
            font-size: 30px;
            border-right: 1px solid black;
            width: 100%;
            padding: 30px 0;
            justify-self: center;
            text-align: center;
            justify-content: center;
          }
          &__img {
            border-left: none;
            background-position: center;
            background-image: url('/no_comment.svg');
            background-size: 15%;
            background-repeat: no-repeat;
            width: 100%;
            height: 90px;
          }
        }
      }
    }
    &__contentRow1 {
      border-bottom: none;
      display: grid;
      grid-template-columns: none;

      div:last-of-type {
        margin: 0;
      }
      .hiddenText {
        padding: 30px 25px;
        display: flex;
        color: var(--black, #000);
        font-family: Helvetica;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 126.5%; /* 17.71px */
        letter-spacing: -0.16px;
      }
    }
    &__img {
      background-position: center;
      height: 300px;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
    }
    &__contentRow2 {
      margin-left: 0;
      margin-right: 12%;
      border-left: none;
      border-right: 1px solid black;
      display: flex;
      border-bottom: 1px solid black;
      align-items: center;
      padding: 30px 20px;
      p {
        font-size: 19px;
        line-height: 116.5%;
      }
      &::after {
        display: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .fintech {
    &__link {
      font-size: 11px;
    }
    &__heading {
      font-size: 23px;
    }
    &__title {
      padding: 20px 16px;
      font-size: 27px;
      p {
        padding: 0 2%;
      }
    }
    &__titleNum {
      padding: 10px 60px;
    }
    &__contentRow1 {
      &__text {
        p {
          font-size: 16px;
          padding: 22px 16px;
        }
        div:last-of-type {
          p {
            width: 60%;
          }
          .hiddenBlock1 {
            &__num {
              font-size: 27px;
              padding: 21px 0;
            }
            &__img {
              background-size: 28%;
            }
          }
        }
      }
      .hidden_text {
        padding: 28px 16px;
        font-size: 14px;
      }
      .fintech_img {
        height: 200px;
      }
    }
    &__contentRow2 {
      padding: 28px 16px;
      p {
        font-size: 14px;
      }
    }
  }
}
