.faq {
  margin-bottom: 100px;
  padding: 0 120px;
  background-color: white;

  &__heading {
    display: grid;
    grid-template-columns: 22% 40% 22%;
    justify-content: space-between;
    column-gap: 5%;
    width: 100%;
    h1 {
      color: #32349a;
      font-family: "Goldman", sans-serif;
      font-size: 55px;
      text-transform: uppercase;
      text-align: center;
      margin: 100px 0 30px 0;
      align-self: start;
      position: relative;
      top: -18%;
      padding: 15px;
    }
    hr {
      transform: rotate(90deg);
    }
  }
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style-type: none;
}

@media (max-width: 1700px) {
  .faq {
    &__heading {
      h1 {
        font-size: 35px;
        margin: 80px 0 30px 0;
        top: -18%;
      }
    }
  }
}
@media (max-width: 1580px) {
  .faq {
    padding: 0 65px;
    &__heading {
      h1 {
        font-size: 30px;
      }
    }
  }
}
@media (max-width: 1300px) {
  .faq {
    &__heading {
      h1 {
        font-size: 25px;
      }
    }
  }
}
@media (max-width: 1220px) {
  .faq {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .faq {
    margin: 50px 30px 100px;
    &__heading {
      display: block;
      h1 {
        padding-left: 0;
        margin-top: 0;
        font-size: 25px;
        text-align: left;
      }
    }
  }
  .faq__list {
    gap: 20px;
  }
}

@media (max-width: 500px) {
  .faq {
    margin: 40px 20px 100px;
    &__heading {
      h1 {
        font-size: 25px;
      }
    }
  }
}
