@import '/src/styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: -webkit-fill-available;
}

@media (max-width: $desktop-width) {
  .container {
    gap: 40px;
  }
}

@media (max-width: $tablet-width) {
  .container {
    gap: 60px;
  }
}
