@import '/src/styles/variables.scss';

.header {
  margin-bottom: 90px;
  font-size: 54px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -1.02px;
  text-transform: uppercase;
}

.faq_list {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

@media (max-width: $desktop-width) {
  .header {
    font-size: 29.343px;
    line-height: 21.736px;
    letter-spacing: -0.554px;
    margin-bottom: 47px;
  }
}
