  .service {

    &__heading {
      display: grid;
      grid-template-columns: 22% 30% 22%;
      justify-content: space-between;
      column-gap: 5%;
      width: 100%;
      h1 {
        color: #32349a;
        font-family: "Goldman", sans-serif;
        font-size: 45px;
        text-transform: capitalize;
        text-align: center;
        margin: 150px 0 30px 0;
        align-self: start;
        position: relative;
        top: -18%;
      }
      hr {
        transform: rotate(90deg);
      }
    }
    &__iconWrapper {
      border: 5px solid #ea4f0d;
      width: 126px;
      aspect-ratio: 1;
      border-radius: 50%;
    }
    &__firstType {
      display: flex;
      align-items: center;
      gap: 4%;
      .service__iconImg {
        background-image: url("./../../assets/images/icon_service4.png");
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
      }
    }
    &__secondType {
      display: flex;
      align-items: center;
      gap: 4%;
      .service__iconImg {
        background-image: url("./../../assets/images/icon_service5.png");
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
      }
    }
    &__thirdType {
      display: flex;
      align-items: center;
      gap: 4%;
      .service__iconImg {
        background-image: url("./../../assets/images/icon_service6.png");
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
      }
    }
    &__fourthType {
      display: flex;
      align-items: center;
      gap: 4%;
      .service__iconImg {
        background-image: url("./../../assets/images/icon_service1.png");
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
      }
    }
    &__fifthType {
      display: flex;
      align-items: center;
      gap: 4%;
      .service__iconImg {
        background-image: url("./../../assets/images/icon_service2.png");
        background-size: 65%;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
      }
    }
    &__sixthType {
      display: flex;
      align-items: center;
      gap: 4%;
      .service__iconImg {
        background-image: url("./../../assets/images/icon_service3.png");
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
      }
    }
    .requestButton {
      display: none;
    }
    &__types {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 15% 5%;
  
      p {
        width: 50%;
        color: #000;
        font-family: "Goldman", sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 129.852%; /* 45.448px */
        &:hover {
          color: #32349a;
        }
      }
      a {
        display: contents;
        color: inherit;
      }
    }

    &__main {
      padding-top: 170px;
      padding-bottom: 203px;
    h3 {
      border-radius: 30px;
      border: 1px solid #000;
      background: #fff;
      color: #32349a;
      text-align: center;
      font-family: "Goldman", sans-serif;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 0.5% 2%;
      width: fit-content;
      margin: 0 0 93px;
    }
    img {
      width: 100%;
      height: 600px;
      border-radius: 20px;
      background: lightgray 50% / cover no-repeat;
    }
    }
    &__content {
      margin-top: 143px;
      padding: 50px 70px 70px;
      background: rgba(50, 52, 154, 0.11);
      h4 {
        color: #000;
        text-align: justify;
        font-family: "Goldman", sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 153.5%; /* 53.725px */
        margin-bottom: 3%;
      }
      p {
        color: #000;
        font-family: "Goldman", sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 153.5%;
      }
    }
  }
@media (max-width: 1580px) {
  .service {
    padding: 0 65px;
  }
  .service__heading {
    h1 {
      font-size: 40px;
      margin: 150px 0 30px 0;
    }
  }
}
@media (max-width: 1400px) {
  .service {

    &__heading {
      h1 {
        font-size: 33px;
        margin: 150px 0 30px 0;
      }
    }
    &__iconWrapper {
      width: 100px;
    }
    &__types {
      p {
        font-size: 24px;
      }
    }
    &__main {
      padding-top: 130px;
      padding-bottom: 173px;
      h3 {
        border-radius: 30px;
        font-size: 40px;
        margin: 0 0 93px;
      }
      img {
        height: 600px;
        border-radius: 16px;
      }
    }
    &__content {
      margin-top: 103px;
      padding: 50px 40px 70px;
      h4 {
        font-size: 24px;
      }
      p {
        font-size: 24px;
      }
    }
  }
}
@media (max-width: 1220px) {
  .service {
    padding: 0 45px;
  }
}
@media (max-width: 1180px) {
  .service {
    &__heading {
      display: flex;
      justify-content: center;
      h1 {
        font-size: 31px;
        margin: 80px 0 50px 0;
      }
      hr {
        display: none;
      }
    }
  }
}
@media (max-width: 1090px) {
  .service {
    padding: 0 40px;
    &__heading {
      h1 {
        font-size: 30px;
        margin: 80px 0 30px 0;
      }
    }
    &__iconWrapper {
      width: 80px;
      border-width: 3px;
    }
    &__types {
      p {
        font-size: 18px;
      }
    }
    &__main {
      padding-top: 100px;
      padding-bottom: 133px;
      h3 {
        border-radius: 30px;
        font-size: 28px;
        margin: 0 0 43px;
      }
      img {
        height: 500px;
        border-radius: 13px;
      }
    }
    &__content {
      margin-top: 40px;
      padding: 40px 30px 50px;
      h4 {
        font-size: 20px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 900px) {
  .service {
    &__iconWrapper {
      width: 80px;
      border-width: 3px;
    }
    &__types {
      p {
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 768px) {
  .service {
    padding: 0 30px;

    .requestButton {
      color: #fff;
      font-family: Goldman;
      font-size: 19px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      display: flex;
      border-radius: 5px;
      border: 1px solid #d9d9d9;
      background: #ea4f0d;
      padding: 2% 3%;
      margin-bottom: 65px;
    }
    &__heading {
      display: none;
    }
    &__types {
      display: none;
    }
    &__main {
      padding-top: 66px;
      padding-bottom: 50px;
      h3 {
        border: none;
        font-size: 35px;
        padding: 0;
        margin: 0 0 25px;
        text-align: left;
      }
      img {
        height: 350px;
        border-radius: 15px;
      }
    }
    &__content {
      margin-top: 75px;
      padding: 27px 20px;
      h4 {
        font-size: 16px;
        margin-bottom: 3%;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 560px) {
  .service {
    .requestButton {
      font-size: 16px;
      margin-bottom: 45px;
    }
    &__main {
      padding-top: 40px;
      padding-bottom: 0;
      h3 {
        font-size: 30px;
      }
      img {
        height: 250px;
      }
    }
    &__content {
      margin-top: 30px;
      h4 {
        font-size: 13px;
      }
      p {
        font-size: 13px;
      }
    }
  }
}
@media (max-width: 500px) {
  .service {
    padding: 0 20px;
  }
}
@media (max-width: 460px) {
  .service {
    .requestButton {
      font-size: 14px;
      margin-bottom: 40px;
    }
    &__main {
      h3 {
        font-size: 25px;
      }
      img {
        height: 200px;
      }
    }
    &__content {
      h4 {
        font-size: 11px;
      }
      p {
        font-size: 11px;
      }
    }
  }
}
