@import '/src/styles/variables.scss';

.footer {
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;
  margin-top: 140px;

  &__inner {
    border-left: 1px solid $primary-color;
    border-right: 1px solid $primary-color;
    padding: 58px 75px 46px;
  }
}

.primary_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 133px;
}

.info {
  margin-right: auto;
}

.header {
  font-size: 46px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: -1.793px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.feedback_button {
  border-radius: 5px;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 0.75;
  a {
    color: black;
  }
  img {
    height: 15px;
    margin-left: 10px;
  }
  &:hover {
    transform: scale(0.95);
  }
}

.navigation {
  display: flex;
  gap: 91px;
  margin: 0 auto;
}

.primary_navigation,
.secondary_navigation {
  display: flex;
  flex-direction: column;
  gap: 26px;
  flex-shrink: 0;
}
.social_navigation {
  display: flex;
  //justify-content: space-between;
  width: 85%;
  gap: 15%;

  padding-top: 8%;
  img {
    width: auto;
    height: 100%;
  }
}

.link {
  color: $primary-color;
  font-size: 42px;
  font-weight: 400;
  line-height: 30.214px;
  letter-spacing: -1px;
  transition: 0.3s all ease;

  &:hover,
  &:active {
    color: $secondary-color;
  }
}

.secondary_block {
  display: flex;
  justify-content: space-between;
}

.address {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}

.copyright {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hotkeys {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 8px;
  text-align: end;
}

// .logo {
// }

@media (max-width: 1400px) {
  .navigation {
    gap: 41px;
  }
}

@media (max-width: 1370px) {
  .footer {
    margin-top: 100px;
  }
}

@media (max-width: 1270px) {
  .footer {
    &__inner {
      padding: 28px 25px 26px;
    }
  }

  .navigation {
    gap: 21px;
  }

  .link {
    font-size: 26px;
  }
  .social_navigation {
    padding-top: 18%;
    img {
      width: auto;
      height: 70%;
    }
  }
}
@media (max-width: 1635px) {
  .header {
    font-size: 40px;
  }

  .link {
    font-size: 35px;
  }
}
@media (max-width: $desktop-width) {
  .footer {
    margin-top: 60px;
    &__inner {
      padding: 31px 39px 25px;
    }
  }

  .primary_block {
    margin-bottom: 71px;
  }

  .header {
    font-size: 24.533px;
    line-height: 26.133px;
    letter-spacing: -0.956px;
    margin-bottom: 10.67px;
  }

  .feedback_button {
    border-radius: 2.67px;
    font-size: 9.6px;
    line-height: 0.5;
    padding: 8.5px 10.67px;

    img {
      margin-left: 2px;
      height: 5px;
    }
  }

  .navigation {
    gap: 48px;
  }

  .primary_navigation {
    gap: 13.87px;
  }

  .secondary_navigation {
    gap: 13.87px;
  }

  .social_navigation {
    padding-top: 10%;
    gap: 0;
    img {
      width: auto;
      height: 50%;
    }
  }

  .link {
    font-size: 22.4px;
    line-height: 16.114px;
    letter-spacing: -0.533px;
  }

  .address {
    font-size: 9.6px;
  }

  .copyright {
    font-size: 9.6px;
  }

  .hotkeys {
    font-size: 8.533px;
    font-weight: 500;
  }

  .logo {
    height: 16px;
    width: 68px;
  }
}

@media (max-width: $tablet-width) {
  .footer {
    &__inner {
      border-left: none;
      border-right: none;
      padding: 26px 16px;
    }
  }

  .primary_block {
    grid-template-columns: 1fr;
    gap: 48px;
    margin-bottom: 50px;
  }

  .header {
    font-size: 28px;
    line-height: 31.5px;
    margin-bottom: 20px;
  }

  .feedback_button {
    border-radius: 5px;
    font-size: 18px;
    line-height: 0.7;
    padding: 16px 20px;
    img {
      margin-left: 10px;
      height: 15px;
    }
  }

  .navigation {
    margin: 0;
    gap: 44px;
  }

  .primary_navigation,
  .secondary_navigation {
    gap: 26px;
  }

  .social_navigation {
    margin-top: 15px;
    //gap: 0;
    img {
      width: auto;
      height: 45%;
    }
  }
  .link {
    font-size: 20px;
    line-height: 30.214px;
    letter-spacing: -1px;
  }

  .secondary_block {
    flex-direction: column;
  }

  .address {
    font-size: 12px;
  }

  .copyright {
    font-size: 12px;
  }

  .hotkeys {
    display: none;
  }

  .logo {
    height: 30px;
    margin-top: 15px;
    width: 128px;
  }
}
