.burger {
  display: none;
}

@media (max-width: 768px) {
  .burger {
    padding: 0 17px 50px;
    display: block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .burger__navigationList {
    display: flex;
    flex-direction: column;
  }

  .burger__navigationListItems {
    background: #32349a;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    &:hover {
      opacity: 0.95;
    }
    &:hover > ul {
      display: block;
    }
  }
  .links {
    color: #fff;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    padding: 12px 40px;
    display: flex;
    gap: 3%;
    align-items: center;
  }
  .burgerSubmenu {
    display: none;
    li {
      background: #d9d9d9;
      padding: 10px 40px;
      color: rgba(0, 0, 0, 0.7);
      font-family: 'Gothic A1', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      &:hover {
        background: rgba(50, 52, 154, 0.28);
        a {
          color: white;
        }
      }
    }
  }
  .burger__infoWrapper {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    gap: 10%;
    padding: 0px 0 30px;
  }
  .burger__list{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 30px;
    a{
      line-height: normal;
      letter-spacing: -0.26px;
      font-size: 14px;
      color: #32349a;
      font-family: 'Gothic A1', sans-serif;
      font-weight: 600;
      font-style: normal;
    }
  }

  .burger__info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3%;
    
    p {
      color: #32349a;
      font-family: 'Gothic A1', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.26px;
    }
  }
  .uncover{
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 500px) {
  .burger {
    padding: 0 17px 40px;
  }

  .links {
    font-size: 13px;
  }
  .burgerSubmenu {
    li {
      padding: 10px 40px;
      font-size: 13px;
    }
  }
  .burger__infoWrapper {
    padding: 10px 0;
    gap: 0;
    height: 70px;
  }
  .burger__info {
    img {
      width: auto;
      height: 15px;
    }
    p {
      font-size: 10px;
    }
  }
  .burger__list{
    left: 30px;
    top: -5px;

    a{
      line-height: 0px;
      font-size: 7px;
      color: #32349a;
    }
  }
  .burger__listItem{
    margin: 0;
    padding: 0;
    height: 14px

  }
}
