.learn {
  background-color: rgba(255, 114, 14, 0.9);
  height: calc(734px - 150px);
  border-radius: 27px;
  display: flex;
  flex-direction: column;
  padding: 100px 50px 50px;
  align-items: center;
  justify-content: space-between;
}
.learn__title {
  font-family: "Patsy Sans";
  color: white;
  font-size: 60px;
  font-weight: 400;
  line-height: 57.78px;
  text-align: center;
}
.learn__subtitle {
  color: white;
  font-family: "Onest";
  font-size: 40px;
  font-weight: 500;
  line-height: 51px;
  text-align: center;
  margin: 40px 0 45px;
}

.learn__text {
  color: white;
  font-family: "Onest";
  font-size: 35px;
  font-weight: 300;
  line-height: 44.62px;
  text-align: center;
  padding: 0 50px;
}

.learn__button {
  background-color: rgba(0, 0, 0, 1);
  padding: 24.66px 43.15px;
  gap: 12.33px;
  border-radius: 19.73px;
  font-family: "Patsy Sans";
  font-size: 36.99px;
  font-weight: 400;
  line-height: 35.62px;
  text-align: center;
  color: white;
}
