.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 90vh;
  margin: 150px auto;
}

.main__heading {
  font-family: Actay Wide;
  font-size: 44px;
  font-weight: 700;
  line-height: 55.57px;
  text-align: center;
  color: white;
}
.loginForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 712px;
}
.loginForm__button {
  background: rgba(84, 126, 208, 1);
  width: 100%;
  height: calc(75.82px - 0px);
  padding: 0;
  gap: 9.19px;
  border-radius: 5px;
  font-family: Helvetica Neue;
  font-size: 25px;
  font-weight: 700;
  line-height: 30.53px;
  text-align: left;
  color: white;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(229, 62, 62, 1);
}
.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.orWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 200;
  line-height: 24.18px;
  text-align: center;
  color: white;
  gap: 10px;
  width: 712px;
  margin: 20px 0;

  hr {
    width: 320px;
  }
}

.buttons {
  width: 712px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.buttons__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: white;
  padding: 17.26px 5px;
  border-radius: 5px;
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.42px;
  text-align: center;
  color: rgba(57, 57, 57, 1);
}

.buttons__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media (max-width: 768px) {
  .buttons__wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .main__heading {
    font-size: 30px;
    line-height: 35.57px;
  }

  .buttons__item {
    gap: 5px;
    padding: 10.26px 5px;
    border-radius: 5px;
    font-size: 15px;
    line-height: 14.42px;
  }
}
