@import 'normalize.css';
@import './variables.scss';

::selection {
  background: $secondary-color;
  color: $white-color;
}

html,
body {
  background-color: $background-color;
  font-family: 'Helvetica', 'Arial', sans-serif;

  scroll-snap-type: y proximity;
  //scroll-behavior: smooth;
}
div {
  ::-webkit-scrollbar {
    width: 0;
  }
}
h1,
h2,
h3,
h4,
h4,
h6,
p,
span {
  color: $primary-color;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  user-select: none;
  pointer-events: none;
}

.container {
  // padding-left: 40px;
  //padding-right: 40px;
  //max-width: 1588px;
  max-width: 85%;
  margin: 0 auto;
}
@media (max-width: 1880px) {
  .container {
    max-width: 82%;
  }
}
@media (max-width: 1620px) {
  .container {
    max-width: 80%;
  }
}
@media (max-width: 1460px) {
  .container {
    max-width: 78%;
  }
}
@media (max-width: 1400px) {
  .container {
    max-width: 1588px;
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: $desktop-width) {
  .container {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 863px;
  }
}

@media (max-width: $tablet-width) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    max-width: calc(100% - 32px);
    width: 100%;
  }
  html,
  body {
    scroll-snap-type: none;
  }
}
