$primary-color: #000000;
$secondary-color: #2313db;
$transparent-color: rgba(0, 0, 0, 0.5);
$background-color: #eaeaea;
$white-color: #fff;

$desktop-width: 992px;
$tablet-width: 768px;
$mobile-width: 576px;
