.main {
  padding: 40px 32px 40px 32px;
  gap: 25px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.main__title {
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.42px;
  text-align: left;
  color: rgba(24, 39, 67, 1);
}

@media (max-width: 768px) {
  .main {
    padding: 20px;
    gap: 12px;
    border-radius: 15px;
  }
  .main__title {
    font-family: Helvetica Neue;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.98px;
    text-align: center;
  }
}
