.main {
  display: flex;
  // flex-direction: column;
  background: white;
  padding: 44.48px 32px;
  gap: 25px;
  border-radius: 20px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info__title {
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.42px;
  text-align: left;
  color: rgba(24, 39, 67, 1);
}

.info__list {
  display: flex;
  flex-direction: column;
  background-color: rgba(84, 126, 208, 0.03);
  border: 1px solid rgba(84, 126, 208, 0.17);
  border-radius: 20px;
  padding: 20px 10px;
}

.info__listItem {
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 300;
  line-height: 23.86px;
  text-align: left;
  display: flex;
  align-items: center;
  color: rgba(7, 40, 104, 1);
  .circle {
    aspect-ratio: 1;
    width: 4px;
    height: 4px;
    background-color: rgba(7, 40, 104, 1);
    margin: 0 10px;
    border-radius: 50%;
  }
}

.apartment__about {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.apartment__aboutTitleWrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.apartment__aboutTitle {
  font-family: Helvetica Neue;
  font-size: 20.77px;
  font-weight: 500;
  line-height: 25.36px;
  text-align: left;
  color: rgba(24, 39, 67, 1);
}
.apartment__aboutItemWrap {
  display: flex;
  gap: 10.29px;
  align-items: center;
}
.apartment__aboutItem {
  padding: 12.35px;
  gap: 10.29px;
  border-radius: 9.44px;
  background-color: rgba(84, 126, 208, 0.13);
  font-family: Helvetica Neue;
  font-size: 18.53px;
  font-weight: 300;
  line-height: 22.1px;
  text-align: center;
}
.apartment__aboutPropertyWrap {
  background-color: rgba(250, 251, 254, 1);
  border: 1px solid rgba(222, 230, 246, 1);
  border-radius: 10px;
  padding: 20px 10px;
}
.apartment__aboutPropertyText {
  font-family: Helvetica Neue;
  font-size: 18.88px;
  font-weight: 300;
  line-height: 22.53px;
  text-align: left;
  color: rgba(24, 39, 67, 1);
  display: flex;
  align-items: center;
  span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
    margin: 0 10px;
  }
}

.apartment {
  background-color: white;
  border-radius: 18.38px;
  padding: 44.48px 32px;
  display: flex;
  flex-direction: column;
  gap: 36.56px;
}

.apartment__list {
  display: flex;
  gap: 9.46px;
}

.apartment__listItem {
  padding: 11.35px;
  border-radius: 8.67px;
  background: rgba(84, 126, 208, 0.13);
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.47px;
  text-align: center;
  color: rgba(24, 39, 67, 1);
}
