.main {
  display: flex;
  //align-items: start;
  
}

.left {
  width: 25%;
  height: 100vh;
}
.right {
  width: 75%;
  height: 100vh;
}
@media (max-width:992px) {
  .left{
    display: none;
  }
  .right{
    width: 100%;
  }
}