.main {
  display: flex;
  //align-items: start;
  
}

.left {
  width: 20%;
  height: 100vh;
  position: fixed;
}
.right {
  position: absolute;
  right: 0;
  width: 80%;
  height: 100vh;
}
@media (max-width:992px) {
  .main{
    flex-direction: column;
  }
  .left{
    // display: none;
    width: 100%;
    height: auto;
    position: relative;
  }
  .right{
    position: relative;
    width: 100%;
  }
}