.main {
  margin-top: 120px;
  margin-bottom: 50px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.main__left {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: fit-content;
}

.main__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 35%;
}

@media (max-width: 1200px) {
  .main {
    margin-top: 80px;
    margin-bottom: 50px;
    gap: 20px;
  }

  .main__left {
    width: 60%;
    gap: 25px;
  }

  .main__right {
    gap: 20px;
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .main {
    margin-top: 80px;
    margin-bottom: 50px;
    gap: 15px;
  }

  .main__left {
    width: 60%;
    gap: 15px;
  }

  .main__right {
    gap: 15px;
    width: 40%;
  }
}

@media (max-width: 768px) {
  .main {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
  }

  .main__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .main__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}
