.main {
  height: 100%;
  display: grid;
  grid-template-rows: 12% auto;
}

.main__heading {
  color: white;
  font-family: 'Gotu';
  font-size: 40px;
  font-weight: 400;
  line-height: 66.4px;
  text-align: center;
  background: rgba(50, 52, 154, 0.9);

  display: flex;
  justify-content: center;
  align-items: center;
}

.main__list {
  background: rgba(18, 20, 108, 1);
  padding: 25px 50px;
}

.text {
  font-family: 'Gothic A1';
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
  text-align: left;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.list li {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: white;
  border-radius: 10px;
  color: rgba(50, 52, 154, 1);
  font-family: 'Gothic A1';
  font-size: 25px;
  font-weight: 800;
  line-height: 31.25px;
  text-align: left;
  padding: 5px 20px;
}
