.main {
  height: 100%;
  display: grid;
  grid-template-rows: 12% auto;
}

.main__heading {
  color: white;
  font-family: 'Gothic A1';
  font-size: 35px;
  font-weight: 400;
  line-height: 56.4px;
  text-align: center;
  background: rgba(50, 52, 154, 0.9);

  display: flex;
  justify-content: center;
  align-items: center;
}

.main__list {
  background: rgba(18, 20, 108, 1);
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.text {
  font-family: 'Gothic A1';
  font-size: 16px;
  font-weight: 800;
  line-height: 25px;
  text-align: left;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link{
  display: flex;
  align-items: center;
}

.list li {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: white;
  border-radius: 10px;
  color: rgba(50, 52, 154, 1);
  font-family: 'Gothic A1';
  font-size: 20px;
  font-weight: 800;
  line-height: 31.25px;
  text-align: left;
  padding: 5px 20px;
}
@media (max-width:1200px) {
  .main {
  }
  
  .main__heading {
    font-size: 25px;
    line-height: 36.4px;
  }
  
  
  .text {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  
  .list li {
    gap: 15px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 31.25px;
    padding: 5px 20px;
  }
  
}

@media (max-width:992px) {
  .main {
    height: 100%;
    display:none;
  }
  
  .main__heading {
    display: none;
  }
  
  .main__list {
    background: rgba(42, 43, 140, 0.7);
    padding: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
  }
  
  
  .text {
    font-family: 'Gothic A1';
    font-size: 16px;
    font-weight: 800;
    line-height: 25px;
    text-align: left;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .list{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
  }
  
  .link{
    display: flex;
    align-items: center;
    color: rgba(50, 52, 154, 1);
  }
  
  
  .list li {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: unset;
    border-radius: 5px;
    background-color: white;
    color: rgba(50, 52, 154, 1);
    font-family: 'Gothic A1';
    font-size: 13px;
    font-weight: 800;
    line-height: 11.25px;
    text-align: left;
    padding: 5px 20px;
    img{
      display: none;
    }
  }
}

@media (max-width:552px) {
  .main__list {
    padding: 15px;
  }
  
  .text {
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .list{
    gap: 15px;
  }
  
  .list li {
    gap: 15px;
    //border-radius: 10px;
    font-size: 10px;
    line-height: 11.25px;
    padding: 5px 20px;
  }
}