.main {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin: 100px auto;
  position: relative;
  min-height: 100vh;
}

.main__heading {
  color: white;
  font-family: Actay Wide;
  font-size: 45px;
  font-weight: 700;
  line-height: 56.84px;
  text-align: center;
}

.main__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 40px 50px;
}

.links {
  display: flex;
  gap: 5px;
  position: absolute;
  right: 130px;
}

.links button {
  color: white;
  font-family: Helvetica Neue;
  font-size: 25px;
  line-height: 30.52px;
  text-align: right;

  padding: 10px 0;
  font-weight: 100;
}

.main__searching {
  display: flex;
  gap: 5px;
  position: relative;
  height: 79px;
}
.searchBar {
  width: calc(100% - 290px);
}
.dropdown {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 193px;
  padding: 25px 10px 25px 16px;
  gap: 19px;
  border-radius: 20px;
  border: 1.27px solid rgba(255, 255, 255, 0.33);
  justify-content: center;
  background: rgba(29, 49, 79, 1);
}
.dropdown:hover > .dropdown__bottom {
  display: flex;
}
.dropdown__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter Tight;
  font-size: 25.31px;
  font-weight: 400;
  line-height: 30.62px;
  text-align: left;
  color: white;
}
.dropdown__bottom {
  //   display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 25px;
  display: none;
}
.dropdown__botton {
  font-family: "Inter Tight";
  font-size: 24px !important;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  padding: 0;
  color: white;
}

@media (max-width: 1200px) {
  .main {
    gap: 70px;
    margin: 100px auto;
  }

  .main__heading {
    font-size: 35px;
    line-height: 36.84px;
  }

  .main__content {
    gap: 30px 40px;
  }

  .main__searching {
    gap: 5px;
    height: 59px; //mistake
  }
  .searchBar {
    width: calc(100% - 290px);
  }
  .dropdown {
    width: 193px;
    padding: 18px 10px 18px 16px;
    gap: 19px;
    border-radius: 13px;
    border: 1px solid rgba(255, 255, 255, 0.33);
  }
  .dropdown__top {
    font-size: 18px;
    line-height: 20.62px;
  }
  .dropdown__bottom {
    gap: 15px;
  }

  .dropdown__botton {
    font-size: 18px !important;
    line-height: 16.94px;
  }

  .links {
    font-size: 20px;
    line-height: 20.52px;
    right: 100px;
    padding: 10px 0;
  }
}
@media (max-width: 768px) {
  .main__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .links {
    position: static;
    padding: 0;
  }

  .dropdown {
    position: static;
    width: 100%;
    box-sizing: border-box;
    // min-height: 55px;
    padding: 16.2px 20px;
    background: rgba(84, 126, 208, 0.14);
  }

  .main__searching {
    flex-direction: column;
    height: auto;
  }

  .searchBar {
    width: 100%;
    height: 55px;
  }
}

@media (max-width: 500px) {
  .main__content {
    display: grid;
    grid-template-columns: 1fr;
  }
}
