@import '/src/styles/variables.scss';

.running_line {
  border-radius: 15px;
  height: 100%;
  background-color: black;
  color: #eaeaea;
  font-family: Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 50px;
  overflow: hidden;
  @keyframes moveHorizontallyLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  @keyframes moveHorizontallyRight {
    0% {
      transform: translateX(-50%); 
    }
    100% {
      transform: translateX(0%);
    }
  }

  &_1 {
    padding: 18px 18px 22px 18px;
    ul {
      display: flex;
      color: white;
      white-space: nowrap;
      animation: moveHorizontallyLeft 6s linear infinite;
      animation-direction: alternate;
      position: relative;
      li {
        list-style: none;
        margin: 0% 4%;
      }
    }

ul li::before {
  content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
  }
  &_2 {
    padding: 22px 18px 18px 18px;
    border-top: 3px dashed #eaeaea;
    ul {
      
      display: flex;
      color: white;
      white-space: nowrap;
      animation: moveHorizontallyRight 6s linear infinite;
      animation-direction: alternate;
      li {
        list-style: none;
        margin: 0px 4%;
      }
      
    }

ul li::before {
  content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
  }
}

.turan {
  display: grid;
  grid-template-rows: 20% 73% 7%;
  border-radius: 13.534px;
  background: var(--black, #000);
  height: 774px;
  width: auto;
  padding: 40px 36px;
  &_heading {
    display: grid;
    grid-template-columns: 10% 3% 66% 21%;
    width: 100%;

    &_logo {
      background-image: url('/logo_turan.svg');
      background-size: contain;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    &_line {
      background: linear-gradient(
        to bottom right,
        transparent 49%,
        white.5%,
        white.51%,
        transparent 51%
      );
    }
    &_words {
      color: #eaeaea;
      font-family: Helvetica;
      font-size: 76px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      align-self: center;
      display: flex;
      justify-content: space-between;
    }
    button {
      cursor: pointer;
      align-self: center;
      border-radius: 8.613px;
      background: #eaeaea;
      padding: 2%;
      height: 40%;
      border: none;
      justify-content: space-between;
      &:hover{
        background-color: blue;
        p{
          color: #eaeaea;
        }
      
      }
      a{
          display: grid;
      grid-template-columns: 15% 85%;
      }
      .turan_button {
        margin-left: 5px;
        border-radius: 5.168px;
        background: var(--black, #000);
        width: 90%;
        display: flex;
        align-self: center;
        aspect-ratio: 1;
        justify-content: center;
        img {
          align-self: center;
          width: 50%;
        }
      }

      p {
        color: var(--black, #000);
        font-family: Helvetica;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 34.45px; /* 156.593% */
        letter-spacing: -0.878px;
        text-transform: uppercase;
        align-self: center;
      }
    }
  }
  &_main {
    display: grid;
    grid-template-columns: 49% 2% 49%;
    margin: 2% 0 1% 0;
    position: relative;
    

    &_1 {
      border: 1px solid #eaeaea;
      display: grid;
      grid-template-rows: 45% 10% 45%;
      border-radius: 15px;
      &_h1 {
        padding: 5%;

        &_div {
          display: grid;
          grid-template-columns: 8% 92%;
          .h1_circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #eaeaea;
            align-self: center;
          }
          p {
            color: #e84137;
            font-family: Helvetica;
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 60px */
          }
        }
      }
      &_p {
        display: flex;
        padding: 5%;
        p {
          align-self: end;
          color: #eaeaea;
          font-family: Helvetica;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 28.8px */
        }
      }
    }
    &_2 {
      display: grid;
      justify-content: space-between;
      padding: 0 4%;
      height: 100%;
      border: 1px solid #eaeaea;
      border-radius: 15px;
      position: relative;

      &_h1 {
        border: 1px solid #eaeaea;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom: none;
        padding: 3%;

        &_div {
          display: grid;
          grid-template-columns: 8% 92%;
          z-index: 1;
          .h1_circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #eaeaea;
            align-self: center;
          }
          p {
            align-self: center;
            color: #eaeaea;
            font-family: Helvetica;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 60px */
            b {
              color: #e84137;
            }
          }
        }
      }
    }
  }
  &_main::after{
    content:'';
    position: absolute;
    background-color: #000;
    height: 60px;
    width: 100%;
    top: calc(50% - 30px);
    z-index: 0;
  }
  &_a {
    color: rgba(234, 234, 234, 0.5);
    text-align: right;
    font-family: Helvetica;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    a {
      cursor: pointer;
      color: rgba(234, 234, 234, 0.5);
      margin-left: 1%;
    &:hover{
      color: red;
    }}
    
  }
}
@media (max-width: 1450px) {
  .container{
    margin: inherit;
  }
  .turan {
    border-radius: 13.534px;
    height: 654px;
    &_heading {
      &_words {
        font-size: 56px;
      }
      button {
        border-radius: 7px;
        .turan_button {
          border-radius: 5.168px;
        }
        p {
          font-size: 17px;
        }
      }
    }
    &_main {
      &_1 {
        &_h1 {

          &_div {
            .h1_circle {
              width: 20px;
              height: 20px;
            }
            p {
              font-size: 35px;
            }
          }
        }
        &_p {
          p {
            font-size: 20px;
          }
        }
      }
      &_2 {
        &_h1 {
          &_div {
            .h1_circle {
              width: 20px;
              height: 20px;
            }
            p {
              font-size: 20px;
            }
          }
        }
      }
    }
    &_a {
      font-size: 17px;
    }
  }
}

@media (max-width: 1200px) {
  .turan {
    border-radius: 13.534px;
    height: 604px;
    &_heading {
      &_words {
        font-size: 50px;
      }
      button {
        border-radius: 6px;
        .turan_button {
          border-radius: 5.168px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    &_main {
      &_1 {
        &_h1 {
          &_div {
            .h1_circle {
              width: 15px;
              height: 15px;
            }
            p {
              font-size: 30px;
            }
          }
        }
        &_p {
          p {
            font-size: 17px;
          }
        }
      }
      &_2 {
        &_h1 {
          &_div {
            .h1_circle {
              width: 15px;
              height: 15px;
            }
            p {
              font-size: 17px;
            }
          }
        }
      }
    }
    &_a {
      font-size: 14px;
    }
  }
}.running_line {
  border-radius: 15px;
  height: 100%;
  background-color: black;
  color: #eaeaea;
  font-family: Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 26.4px */
  margin-bottom: 50px;
  overflow: hidden;
  @keyframes moveHorizontallyLeft {
    0% {
      transform: translateX(0); /* Начальное положение - без сдвига по X */
    }
    100% {
      transform: translateX(-50%);
    }
  }
  @keyframes moveHorizontallyRight {
    0% {
      transform: translateX(-50%); /* Начальное положение - без сдвига по X */
    }
    100% {
      transform: translateX(0%);
    }
  }

  &_1 {
    padding: 18px;
    ul {
      list-style-type: circle;
      display: flex;
      color: white;
      white-space: nowrap;
      animation: moveHorizontallyLeft 6s linear infinite;
      animation-direction: alternate;
      li {
        margin: 0% 4%;
      }
    }
  }
  &_2 {
    padding: 18px;
    border-top: 3px dashed #eaeaea;
    ul {
      list-style-type: circle;
      display: flex;
      color: white;
    //  overflow: hidden;
      white-space: nowrap;
      animation: moveHorizontallyRight 6s linear infinite;
      animation-direction: alternate;
      li {
        margin: 0px 4%;
      }
    }
  }
}
@media (max-width: $desktop-width) {
  .running_line {
    border-radius: 8px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 27px;
    
  
    &_1 {
      padding: 10px 10px 12px 10px;
      ul {
        li {
          margin: 0% 4%;
        }
      }
    }
    &_2 {
      padding: 12px 10px 10px 10px;
      border-top: 3px dashed #eaeaea;
      ul {
        li {
          margin: 0px 4%;
        }
      }
    }
  }
  .turan {
    border-radius: 8px;
    height: calc(420px - 42px);
    padding: 21px 19px;
    &_heading {
      &_words {
        font-size: 40px;
      }
      button {
        border-radius: 5px;
        padding: inherit;
        height: 50%;
        .turan_button {
          border-radius: 5.168px;
          margin-left: 15%;
        }
        p {
          font-size: 12px;
        }
      }
    }
    &_main {
      &_1 {
        &_h1 {
          &_div {
            .h1_circle {
              width: 11px;
              height: 11px;
            }
            p {
              font-size: 26px;
            }
          }
        }
        &_p {
          p {
            font-size: 12px;
          }
        }
      }
      &_2 {
        &_h1 {
          &_div {
            .h1_circle {
              width: 11px;
              height: 11px;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
    &_a {
      font-size: 12px;
    }
  }
}

@media (max-width: 840px) {

  .turan {
    &_heading {
      &_words {
        font-size: 40px;
      }
      button {
        border-radius: 5px;
        padding: inherit;
        height: 50%;
        .turan_button {
          border-radius: 5.168px;
          margin-left: 12%;
        }
        p {
          font-size: 11px;
        }
      }
    }
    &_main {
      &_1 {
        &_h1 {
          &_div {
            .h1_circle {
              width: 11px;
              height: 11px;
            }
            p {
              font-size: 23px;
            }
          }
        }
        &_p {
          p {
            font-size: 12px;
          }
        }
      }
      &_2 {
        &_h1 {
          &_div {
            .h1_circle {
              width: 11px;
              height: 11px;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
    &_a {
      font-size: 12px;
    }
  }
}


@media (max-width: $tablet-width) {
  .turan {
    display: grid;
    grid-template-rows: 20% 70% 10%;
    border-radius: 13.534px;
    background: var(--black, #000);
    height: calc(780px - 42px);
    width: auto;
    padding: 21px 20px;
    &_heading {
      display: grid;
      grid-template-columns: 10% 3% 87%;
      width: 100%;

      &_logo {
        height: 100%;
        width: 100%;
        background-position: center;
      }

      &_words {
        font-size: 50px;
        align-self: center;
        display: flex;
        justify-content: space-between;
      }
      button {
        cursor: pointer;
        align-self: center;        
        border-radius: 5px;
        padding: 6%;
        height: auto;
        border: none;
        width: 350%;
        justify-content: space-between;
        a{
          display: grid;
        grid-template-columns: 15% 85%;
        }
        .turan_button {
          border-radius: 5.168px;
          background: var(--black, #000);
          height: 70%;
          display: flex;
          align-self: center;         
        }
        p {
          color: var(--black, #000);
          font-family: Helvetica;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 34.45px; /* 156.593% */
          letter-spacing: -0.878px;
          text-transform: uppercase;
          align-self: center;
        }
      }
    }
    &_main {
      display: grid;
      grid-template-rows: 49% 2% 49%;
      margin: 2% 0 1% 0;
      grid-template-columns: none;
      &_1 {
        display: grid;
        &_h1 {.running_line {
          border-radius: 15px;
          height: 100%;
          background-color: black;
          color: #eaeaea;
          font-family: Helvetica;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 26.4px */
          margin: 0 3% 50px 3%;
          overflow: hidden;
          @keyframes moveHorizontallyLeft {
            0% {
              transform: translateX(0); /* Начальное положение - без сдвига по X */
            }
            100% {
              transform: translateX(-50%);
            }
          }
          @keyframes moveHorizontallyRight {
            0% {
              transform: translateX(-50%); /* Начальное положение - без сдвига по X */
            }
            100% {
              transform: translateX(0%);
            }
          }
        
          &_1 {
            padding: 18px;
            ul {
              list-style-type: circle;
              display: flex;
              color: white;
              white-space: nowrap;
              animation: moveHorizontallyLeft 6s linear infinite;
              animation-direction: alternate;
              li {
                margin: 0% 4%;
              }
            }
          }
          &_2 {
            padding: 18px;
            border-top: 3px dashed #eaeaea;
            ul {
              list-style-type: circle;
              display: flex;
              color: white;
            //  overflow: hidden;
              white-space: nowrap;
              animation: moveHorizontallyRight 6s linear infinite;
              animation-direction: alternate;
              li {
                margin: 0px 4%;
              }
            }
          }
        }
          padding: 5%;

          &_div {
            display: grid;
            grid-template-columns: 8% 92%;
            .h1_circle {
              width: 16px;
              height: 16px;
              border-radius: 50%;
              background-color: #eaeaea;
              align-self: center;
            }
            p {
              color: #e84137;
              font-family: Helvetica;
              font-size: 42px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%; /* 60px */
            }
          }
        }
        &_p {
          display: flex;
          padding: 5%;
          p {
            align-self: end;
            color: #eaeaea;
            font-family: Helvetica;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 28.8px */
          }
        }
      }

      &_2 {
        display: grid;
        justify-content: space-between;
        padding: 4%;
        height: 100%;
        border: 1px solid #eaeaea;
        border-radius: 15px;
        position: relative;

        &_h1 {
          border: 1px solid #eaeaea;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          border-bottom: none;
          padding: 3%;

          &_div {
            display: grid;
            grid-template-columns: 8% 92%;
            .h1_circle {
              width: 16px;
              height: 16px;
              border-radius: 50%;
              background-color: #eaeaea;
              align-self: center;
            }
            p {
              align-self: center;
              color: #eaeaea;
              font-family: Helvetica;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%; /* 60px */
              b {
                color: #e84137;
              }
            }
          }
        }
      }
    }

    &_main::after{
      height: 25px;
      top: 76%;
    }
    &_a {
      color: rgba(234, 234, 234, 0.5);
      text-align: right;
      font-family: Helvetica;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      align-items: end;
      justify-content: flex-end;
      a {
        cursor: pointer;
        color: rgba(234, 234, 234, 0.5);
        margin-left: 1%;
      }
    }
  }
}
@media (max-width: 635px) {

.running_line {
  border-radius: 13px;
  font-size: 17px;

  &_2 {
    border-top: 2px dashed #eaeaea;
   
  }
}
  .turan {
    border-radius: 13.534px;
    height: 780px;
    padding: 3% 2.5%;
    &_heading {
      &_words {
        font-size: 40px;
      }
      button {
        border-radius: 5px;
        padding: 4%;
        .turan_button {
          border-radius: 5.168px;
          height: 70%;
          width: auto;
        }
        p {
          font-size: 13px;
        }
      }
    }
    &_main {
      margin: 2% 0 1% 0;
      &_1 {
        border-radius: 10px;
        &_h1 {
          padding: 5%;
          &_div {
            .h1_circle {
              width: 13px;
              height: 13px;
            }
            p {
              font-size: 37px;
            }
          }
        }
        &_p {
          padding: 5%;
          p {
            font-size: 17px;
          }
        }
      }

      &_2 {
        padding: 4%;
        border-radius: 10px;
        &_h1 {
          padding: 3%;

          &_div {
            display: grid;
            grid-template-columns: 8% 92%;
            .h1_circle {
              width: 13px;
              height: 13px;
            }
            p {
              font-size: 17px;
            }
          }
        }
      }
    }
    &_a {
      font-size: 12px;
      a {
        margin-left: 1%;
      }
    }
  }
}
@media (max-width: $mobile-width){
  .running_line {
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 27px;
  
    &_1 {
      padding: 15px 15px 18px 15px;
      ul {
        li {
          margin: 0% 4%;
        }
      }
    }
    &_2 {
      padding: 18px 15px 15px 15px;
      border-top: 3px dashed #eaeaea;
      ul {
        li {
          margin: 0px 4%;
        }
      }
    }
  }
  .turan{
    padding: 10px 16px;
    border-radius: 10px;
    height: 784px;
    &_heading {
      &_words {
        font-size: 28px;
      }
      button {
        .turan_button {
          margin-left: 3px;
        }
        p {
          font-size: 12px;
        }
      }
    }
    &_main {
      &_1 {
        border-radius: 10px;
        &_h1 {
          &_div {
              .h1_circle {
                width: 10px;
                height: 10px;
              }
            p {
              font-size: 24px;
            }
          }
        }
        &_p {
          p {
            font-size: 12px;
          }
        }
      }
      

      &_2 {
        border-radius: 10px;
        &_h1 {
          &_div {
            .h1_circle {
              width: 10px;
              height: 10px;
            }
            p {
              font-size: 12px;
            }
          }
        }
  }
}}}
@media (max-width: 499px) {
  .turan {
    border-radius: 13.534px;
    height: 650px;
    padding: 3% 2.5%;
    &_heading {
      &_words {
        font-size: 21px;
      }
      button {
        padding: 4%;
        width: 380%;
        height: auto;
        .turan_button {
          border-radius: 5.168px;
        }
        p {
          font-size: 11px;
        }
      }
    }
    &_main {
      margin: 2% 0 1% 0;
      &_1 {
        &_h1 {
          padding: 5%;
          &_div {
            .h1_circle {
              width: 13px;
              height: 13px;
            }
            p {
              font-size: 20px;
            }
          }
        }
        &_p {
          padding: 5%;
          p {
            font-size: 12px;
          }
        }
      }

      &_2 {
        padding: 4%;
        &_h1 {
          padding: 3%;

          &_div {
            display: grid;
            grid-template-columns: 8% 92%;
            .h1_circle {
              width: 13px;
              height: 13px;
            }
            p {
              font-size: 11px;
            }
          }
        }
      }
    }
    &_a {
      font-size: 9px;
      a {
        margin-left: 1%;
      }
    }
  }
}
@media (max-width: 430px) {
  .turan {
    height: 630px;
    &_heading {
      button {
        width: 400%;
        .turan_button {
          border-radius: 5.168px;
        }
        p {
          font-size: 11px;
        }
      }
    }
    &_main {
      &_1 {
        &_h1 {
          &_div {
            .h1_circle {
              width: 11px;
              height: 11px;
            }
            p {
              font-size: 20px;
            }
          }
        }
        &_p {
          p {
            font-size: 12px;
          }
        }
      }

      &_2 {
        &_h1 {
          padding: 3%;
          &_div {
            .h1_circle {
              width: 11px;
              height: 11px;
            }
            p {
              font-size: 11px;
            }
          }
        }
      }
    }
    &_a {
      font-size: 9px;
      a {
        margin-left: 1%;
      }
    }
  }
}

@media (max-width: 400px) {
  .turan {
    height: 620px;
    &_heading {
      button {
        width: 410%;
        p {
          font-size: 10px;
        }
      }
    }
  }
}
@media (max-width: 380px) {
  .turan {
    height: 620px;
    &_heading {
      button {
        width: 410%;
       
        p {
          font-size: 8px;
        }
      }
    }
  }
}

