.visaTypes {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 100px 8%;
  gap: 100px;
  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 3%;
    button {
      padding: 0 10px;
      border-radius: 50px;
      height: 100px;
      flex-shrink: 0;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Gothic A1', sans-serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-decoration-line: underline;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__text {
    color: #000;
    text-align: justify;
    font-family: 'Goldman', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 139%;
  }
}
.routedList {
  font-size: 37px;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 800;
  display: flex;
  gap: 10px;

  a {
    color: #aea7a7;
  }
  span {
    color: #000;
  }
}
@media (max-width: 1800px) {
  .visaTypes {
    padding: 100px 8%;
    gap: 80px;
    &__buttons {
      button {
        border-radius: 50px;
        height: 90px;
        font-size: 20px;
      }
    }
    &__text {
      font-size: 30px;
    }
  }
}
@media (max-width: 1700px) {
  .routedList {
    font-size: 33px;
  }
}
@media (max-width: 1580px) {
  .routedList {
    font-size: 30px;
  }
}

@media (max-width: 1500px) {
  .visaTypes {
    padding: 60px 8%;
    gap: 70px;
    &__buttons {
      button {
        border-radius: 50px;
        height: 80px;
        font-size: 17px;
      }
    }
    &__text {
      font-size: 27px;
    }
  }
}
@media (max-width: 1250px) {
  .visaTypes {
    padding: 60px 8%;
    gap: 60px;
    &__buttons {
      button {
        border-radius: 40px;
        height: 60px;
        font-size: 15px;
      }
    }
    &__text {
      font-size: 25px;
    }
  }
}
@media (max-width: 1220px) {
  .routedList {
    font-size: 28px;
  }
}

@media (max-width: 1000px) {
  .routedList {
    font-size: 25px;
  }
  .visaTypes {
    padding: 50px 8%;
    gap: 40px;
    &__buttons {
      button {
        border-radius: 40px;
        height: 50px;
        font-size: 13px;
      }
    }
    &__text {
      font-size: 23px;
    }
  }
}

@media (max-width: 768px) {
  .visaTypes {
    display: none;
  }
  .routedList {
    display: none;
  }
}
