@import '/src/styles/variables.scss';
.main_elements {
  scroll-snap-stop: always;
  scroll-snap-align: start;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 140px;
}

@media (max-width: $desktop-width) {
  .main {
    gap: 60px;
  }
}
