.main {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/images/background1.png");
  background-repeat: no-repeat;
  height: 893px;
  background-size: cover;
  position: relative;
}

.main__content {
  display: flex;
  justify-content: space-between;
}
.main__heading {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 585px;
}
.main__text {
  font-family: "Onest";
  font-size: 56.48px;
  font-weight: 300;
  line-height: 72.01px;
  color: white;
}
.container {
  padding: 0px 100px;
  margin: 0 auto;
}
.main__wallet {
  position: absolute;
  top: 80px;
  right: 100px;
}

// @media (max-width: 768px) {
//   .logo {
//     height: 42.12px;
//   }
//   .main {
//     display: flex;
//     flex-direction: column;
//     background-image: url("../../assets/images/mobile_background.png");
//     background-repeat: no-repeat;
//     height: 950px;
//     background-size: cover;
//     position: relative;
//   }

//   .main__content {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     padding: 0 50px;
//   }
//   .main__heading {
//     display: flex;
//     flex-direction: column;
//     gap: 0px;
//     position: initial;
//   }
//   .main__text {
//     font-size: 25px;
//     font-weight: 300;
//     line-height: 31.87px;
//     text-align: center;
//   }
//   .container {
//     padding: 0px 0px;
//   }
//   .main__wallet {
//     position: initial;
//     width: 100%;
//   }
// }

@media (max-width: 768px) {
  .logo {
    height: 42.12px;
  }
  .main {
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/images/mobile_background.png");
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    position: relative;
  }

  .main__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 50px 50px;
    margin-top: 400px;
    gap: 50px;
  }
  .main__heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: initial;
  }
  .main__text {
    font-size: 25px;
    font-weight: 300;
    line-height: 31.87px;
    text-align: center;
  }
  .container {
    padding: 0px 0px;
  }
  .main__wallet {
    position: initial;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .main__content {
    padding: 0 20px 50px;
    margin-top: 300px;
  }
}
