.main {
  display: flex;
  gap: 20px;
  padding-top: 35px;
  align-items: center;
  justify-content: space-between;
}

.main__list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.main__buttonWrap {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo {
  align-self: center;
  margin-top: 5px;
  width: 391px;
}

.link {
  font-family: Helvetica Neue;
  font-size: 25px;
  font-weight: 200;
  line-height: 30.22px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.main__button {
  width: 236px;
  height: 55px;
  padding: 0px 17px 0px 17px;
  gap: 6px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 1);
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.link {
  display: flex;
}

.accountButton {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 0px 17px;
  color: white;
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  height: 55px;
}

.burger {
  display: none;
}

.menu {
  display: none;
}
@media (max-width: 1400px) {
  .logo {
    width: 301px;
    margin-top: 5px;
  }
  .main {
    gap: 20px;
  }

  .main__list {
    gap: 50px;
  }

  .main__buttonWrap {
    gap: 12px;
  }
  .logo {
    margin-top: 5px;
  }

  .link {
    font-size: 20px;
    line-height: 20.22px;
  }

  .main__button {
    width: 200px;
    height: 55px;
    padding: 0px 17px 0px 17px;
    gap: 6px;
    border-radius: 10px;
    font-size: 15px;
    line-height: 15px;
  }

  .accountButton {
    gap: 6px;
    border-radius: 10px;
    padding: 0px 17px;
    font-size: 15px;
    line-height: 15px;
    height: 55px;
  }
}

@media (max-width: 1200px) {
  .main {
    gap: 20px;
  }

  .main__list {
    gap: 30px;
  }

  .main__buttonWrap {
    gap: 12px;
  }
  .logo {
    width: 200px;
    margin-top: 5px;
  }

  .link {
    font-size: 15px;
    line-height: 20.22px;
  }

  .main__button {
    width: auto;
    height: 35px;
    padding: 0px 17px 0px 17px;
    gap: 6px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 15px;
  }

  .accountButton {
    gap: 6px;
    border-radius: 5px;
    padding: 0px 17px;
    font-size: 12px;
    line-height: 15px;
    height: 35px;
  }
}

@media (max-width: 1000px) {
  .main {
    gap: 20px;
  }

  .main__list {
    gap: 30px;
  }

  .main__buttonWrap {
    gap: 12px;
  }
  .logo {
    width: 180px;
    margin-top: 5px;
  }

  .link {
    font-size: 12px;
    line-height: 15.22px;
  }

  .main__button {
    width: auto;
    height: 35px;
    padding: 0px 17px 0px 17px;
    gap: 6px;
    border-radius: 5px;
    font-size: 9px;
    line-height: 15px;
  }

  .accountButton {
    gap: 6px;
    border-radius: 5px;
    padding: 0px 17px;
    font-size: 9px;
    line-height: 15px;
    height: 35px;
  }
}

@media (max-width: 768px) {
  .main {
    position: relative;
    padding-bottom: 35px;
  }
  .logo {
    width: 252px;
  }
  .main__list {
    display: none;
  }
  .main__buttonWrap {
    display: none;
  }
  .burger {
    display: flex;
  }
  .menu {
    z-index: 5;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    width: calc(100% - 60px);
    align-items: center;
    padding: 30px;
    background-color: rgba(84, 126, 208, 1);
    border-radius: 0px 0px 20px 20px;
  }
  .link {
    font-family: Helvetica Neue;
    font-size: 23px;
    font-weight: 300;
    line-height: 27.81px;
    text-align: center;
    color: white;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  .menu__buttonWrap {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .main__button {
    font-family: Helvetica Neue;
    font-size: 16px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    height: 55px;
  }

  .accountButton {
    font-family: Helvetica Neue;
    font-size: 16px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 55px;
  }
}
