.mobileMenu {
  display: none;
}
.background{
  background: #32349a;
}

.companyInfo {
  
  padding: 1% 4%;
  display: grid;
  grid-template-columns: 25% 29% 32% 14%;
  justify-content: center;
  align-items: center;
  &__address {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
    letter-spacing: -0.42px;
    width: 80%;
    img {
      height: 5%;
      margin-right: 10px;
    }
  }

  &__timeWorking {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
    letter-spacing: -0.42px;
    text-align: center;
    img {
      height: 6%;
      margin-right: 10px;
    }
  }

  &__contact {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr 0.3fr;
    align-items: center;

    .phones {
      display: flex;
      align-items: center;
      color: #fff;
      font-family: 'Gothic A1', sans-serif;
      font-size: 21px;
      letter-spacing: -0.42px;
      &__img {
        height: 4%;
        margin-right: 10px;
      }
      
    }
    .phoneWrap{
      display: flex;
      align-items: center;
      gap: 5px;
      position: relative;

      &:hover > ul{
        display: flex;
      }
    }
    .phoneWrap__link{
      color: white;
    }
    .phoneList__link:hover{
      color: #32349a;
    }
    .phoneList{
      display: none;
      position: absolute;
      top:22px;
      left: -10px;
      background-color: white;
      padding: 10px;
      color: black;
      flex-direction: column;
      gap: 5px;
      border-radius: 10px
    }
    .socials {
      display: flex;
      justify-content: space-around;
      img {
        width: 39px;
        height: 39px;
      }
    }
  }

  .lang {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    font-family: 'Gothic A1', sans-serif;
    font-size: 21px;
    font-weight: 600;
    &__ru {
      color: #fff;
      font-family: 'Gothic A1' sans-serif;
      font-size: 21px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      width: 66px;
      height: 47px;
      border-radius: 15%; //10px;
      background: #47c9e4;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__en {
      color: #fff;
      font-family: 'Gothic A1' sans-serif;
      font-size: 21px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      width: 66px;
      height: 47px;
      border-radius: 15%; //10px;
      background: #d9d9d9;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .lang {
    &__ru:hover {
      background: white;
      color: #32349a;
    }
    &__en:hover {
      background: white;
      color: #32349a;
    }
  }
}

@media (max-width: 1450px) {
  .companyInfo {
    &__address {
      font-size: 16px;
      img {
        height: 5%;
      }
    }

    &__timeWorking {
      font-size: 16px;
      img {
        height: 6%;
      }
    }

    &__contact {
      .phones {
        font-size: 17px;
        &__img {
          height: 4%;
        }
      }
      .socials {
        img {
          width: 37px;
          height: 37px;
        }
      }
    }

    .lang {
      &__ru {
        width: 35%; //66px;
        height: 47px;
        border-radius: 15%; //10px
        font-size: 21px;
      }
      &__en {
        width: 35%; //66px;
        height: 47px;
        border-radius: 15%; //10px;
        font-size: 21px;
      }
    }
  }
}


@media (max-width: 1220px) {
  .companyInfo {
    &__address {
      font-size: 11px;
      img {
        height: 20px;
        margin-right: 7px;
      }
    }

    &__timeWorking {
      font-size: 11px;
      img {
        height: 20px;
        margin-right: 7px;
      }
    }

    &__contact {
      .phoneList{
        top:15px;
        left: -10px;
        padding: 5px 10px;
        gap: 5px;
        border-radius: 5px
      }
      .phones {
        font-size: 11px;
        &__img {
          height: 20px;
          margin-right: 7px;
        }
      }
      .socials {
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
    .lang {
      &__ru {
        height: 30px;
        font-size: 13px;
      }
      &__en {
        height: 30px;
        font-size: 13px;
      }
    }
  }
}
@media (max-width: 900px) {
  .companyInfo {
    &__address {
      font-size: 10px;
      img {
        height: 17px;
        margin-right: 7px;
      }
    }

    &__timeWorking {
      font-size: 10px;
      img {
        height: 17px;
        margin-right: 7px;
      }
    }

    &__contact {
      .phones {
        font-size: 10px;
        &__img {
          height: 13px;
        }
      }
      .socials {
        img {
          width: 20px;
          height: 20px;
        }
      }
      .phoneList{
        top:12px;
        left: -10px;
        padding: 5px 10px;
        gap: 5px;
        border-radius: 5px
      }
    }

    .lang {
      &__ru {
        height: 27px;
        font-size: 12px;
      }
      &__en {
        height: 27px;
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 768px) {
  .companyInfo {
    display: flex;
    justify-content: space-between;

    background-color: #fff;
    padding: 0;
    &__address {
      display: none;
    }

    &__timeWorking {
      display: none;
    }

    &__contact {
      display: none;
    }

    .buttons{
      display: flex;
      align-items: center;
      gap: 40px;
    }
    .lang {
      display: none;
    }

    .langMobile {
      display: flex;
      justify-content: space-evenly;
      gap: 10px;
      &__ru {
        color: #fff;
        font-family: 'Gothic A1' sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 5px 15px;
        border-radius: 15%; //10px;
        background: #47c9e4;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__en {
        color: #fff;
        font-family: 'Gothic A1' sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 5px 15px;
        border-radius: 15%; //10px;
        background: #d9d9d9;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .langMobile {
      &__ru:hover {
        color: #d9d9d9;
      }
      &__en:hover {
        color: #47c9e4;
      }
    }
  }
  .mobileMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    &__logo {
      height: 50px;
      z-index: 1;
      border-radius: 50%;
      background-color: #d9d9d9;
      aspect-ratio: 1;
      img {
        height: 100%;
        aspect-ratio: 1;
      }
    }
    &__logoWrapper {
      display: flex;
      align-items: center;
      gap: 5%;
    }
    &__heading {
      color: #32349a;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: 11px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      width: 40%;
    }
    .whatsappWrapper {
      display: flex;
      align-items: center;
      gap: 12px;
      img {
        width: 35px;
        height: 35px;
      }
      p {
        color: #32349a;
        font-family: Gothic A1;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: -0.24px;
      }
    }

    &__burger {
      display: flex;
      position: relative;
      z-index: 50;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 20px;
      cursor: pointer;
      span {
        height: 2px;
        width: 80%;
        transform: scale(1);
        background-color: #32349a;
      }
      &::after,
      &::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 80%;
        background-color: #32349a;
        transition: all 0.3s ease 0s;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
    }
    .active {
      height: auto;
      span {
        transform: scale(0);
      }
      &::after {
        bottom: 50%;
        transform: rotate(45deg) translateY(50%);
      }
      &::before {
        bottom: 50%;
        transform: rotate(-45deg) translateY(-50%);
      }
    }
  }
}
@media (max-width: 500px) {
  .mobileMenu {
    padding: 10px 20px;
    &__logo {
      height: 40px;
    }
    &__heading {
      font-size: 5px;
    }
    .whatsappWrapper {
      gap: 12px;
      img {
        width: 25px;
        height: 25px;
      }
      p {
        font-size: 12px;
      }
    }
    &__burger {
      width: 30px;
      height: 15px;
      span {
        height: 2px;
        width: 80%;
        transform: scale(1);
        background-color: #32349a;
      }
      &::after,
      &::before {
        height: 2px;
      }
    }
  }
}
