.menu {
  display: grid;
  padding: 50px 120px;
  align-items: center;
  grid-template-columns: 15% auto 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("./../../assets/images/vissa.png");
  background-size: 100% 1100px;

  .logo {
    height: 180px;
    // height: 100%;
    width: auto;
    z-index: 1;
    border-radius: 50%;
    // background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: auto;
      height: 150%;
      // height: 200px;
      // margin-top: -10px;
    }
  }
  &__navigation {
    // box-shadow: 10px 10px 5px #888888;
    border-radius: 50px;
    background: white;
    .submenu {
      padding: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      left: 0;
      top: 100%;
      width: 260px;
      display: none;

      li {
        padding: 20px 28px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: #d9d9d9;
        width: 100%;
        font-size: 18px;
        align-items: center;
        list-style: none;
      }
      :hover {
        background: #32349a;
      }
    }
  }
  &__navigationList {
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
  }
  &__navigationListItems {
    list-style: none;
    font-family: "Gothic A1", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    padding: 30px;
    color: rgba(0, 0, 0, 0.7);

    &:hover {
      background-color: #32349a;
      color: white !important;
    }

    a {
      color: inherit;
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    .uncover {
      width: 17px;
      height: 16px;
      margin-left: 5px;
    }
    &:hover > ul {
      display: flex;
    }
  }
  .links {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1700px) {
  .menu {
    padding: 50px 120px;
    &__navigationList {
      padding: 0px 25px;
    }
    &__navigationListItems {
      font-size: 17px;
      .uncover {
        width: 15px;
        height: 13px;
        margin-left: 5px;
      }
    }
    .submenu {
      li {
        padding: 20px 28px;
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 1580px) {
  .menu {
    padding: 50px 65px;
  }
}
@media (max-width: 1450px) {
  .menu {
    padding: 50px 65px;
    &__navigationList {
      padding: 0px 25px;

      .submenu {
        width: 230px;
        li {
          padding: 15px 28px;
        }
      }
    }
    &__navigationListItems {
      font-size: 15px;
      padding: 20px 28px;
      .uncover {
        width: 10px;
        height: 10px;
        margin-left: 5px;
      }
    }
  }
}

@media (max-width: 1330px) {
  .menu {
    padding: 50px 65px;

    &__navigation {
      border-radius: 50px;

      .submenu {
        width: 200px;
        li {
          padding: 13px 28px;
        }
      }
    }
    &__navigationList {
      padding: 0px 25px;
      .list_items {
        font-size: 13px;
        padding: 20px 28px;
      }
    }

    // .logo {
    //   height: 200px;
    //   // img {
    //   //   height: 150px;
    //   //   margin-top: -10px;
    //   // }
    // }
  }
}
@media (max-width: 1258px) {
  .menu {
    padding: 40px 45px;
    &__navigationList {
      &::after {
        width: 15px;
        height: 15px;
        left: 41%;
      }
      padding: 0px 20px;

      .submenu {
        width: 190px;
        li {
          padding: 13px 25px;
          font-size: 12px;
        }
      }
    }
    &__navigationListItems {
      font-size: 12px;
      padding: 20px 25px;
    }
  }
}
@media (max-width: 1090px) {
  .menu {
    padding: 40px 40px;
    &__navigationList {
      padding: 0px 20px;
      .submenu {
        width: 150px;
        li {
          padding: 15px 20px;
        }
      }
    }
    &__navigationListItems {
      font-size: 12px;
      padding: 18px 20px;
    }

    .logo {
      height: 130px;
      // img {
      //   height: 120px;
      //   margin-top: -10px;
      // }
    }
  }
}
@media (max-width: 1000px) {
  .menu {
    padding: 40px 40px;
    &__navigationList {
      &::after {
        width: 15px;
        height: 15px;
        left: 41%;
      }
      padding: 0px 20px;
      .submenu {
        width: 130px;
        li {
          font-size: 10px;
          padding: 12px 15px;
        }
      }
    }
    &__navigationListItems {
      font-size: 10px;
      padding: 15px 15px;

      .uncover {
        width: 7px;
        height: 7px;
        margin-left: 3px;
      }
    }
  }
}
@media (max-width: 910px) {
  .menu {
    padding: 40px 40px;
    &__navigationList {
      padding: 0px 20px;

      .submenu {
        width: 130px;
        li {
          padding: 12px 15px;
          font-size: 9px;
        }
      }
    }
    &__navigationListItems {
      font-size: 9px;
    }
  }
}
@media (max-width: 862px) {
  .menu {
    padding: 40px 35px;

    &__navigationList {
      padding: 0px 20px;

      .submenu {
        width: 130px;
      }
    }
    &__navigationListItems {
      font-size: 9px;
    }
  }
}
@media (max-width: 820px) {
  .menu {
    padding: 40px 40px;
    &__navigationList {
      padding: 0px 20px;

      .submenu {
        width: 100px;
        li {
          font-size: 8px;
        }
      }
    }
    &__navigationListItems {
      font-size: 8px;
    }
  }
}
@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
