@import '/src/styles/variables.scss';

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 7px 40px;
  &__text {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    align-items: center;
  }
}
.qazdev_logo {
  background-image: url('/logo.svg');
  background-size: contain;
  width: 92px;
  height: 23px;
  background-repeat: no-repeat;
  margin-right: 16px;
}
.info {
  cursor: default;
  display: flex;
  flex-direction: column;
  font-size: 10.87px;
  font-weight: 700;
  line-height: 13.58px;
  letter-spacing: -0.11px;
  text-transform: uppercase;

  &__label {
    color: $primary-color;
  }

  &__tag {
    color: $transparent-color;
  }
}

.navigation {
  align-items: center;
  display: flex;

  &__buttons_wrapper {
    display: flex;
    gap: 30px;
    a {
      display: flex;
    }
  }
}

.hamburger_button {
  display: none;
}

.feedback_button {
  margin-left: 53px;
}

@media (max-width: $desktop-width) {
  // .header {
  //   padding: 3px 80.5px;
  // }
  .header {
    padding: 7.33px 50.5px;
    &__text {
      // width: 30%;
    }
  }

  .qazdev_logo {
    width: 72px;
    height: 20px;
    margin-right: 2px;
  }
  .navigation {
    &__buttons_wrapper {
      gap: 16px;
    }
  }

  .feedback_button {
    margin-left: 28px;
  }
}

@media (max-width: 845px) {
  // .header {
  //   padding: 3px 80.5px;
  // }
  .header {
    padding: 7.33px 50.5px;
    &__text {
      // width: 30%;
    }
  }
  .info {
    font-size: 9px;
  }
  // .qazdev_logo {
  //   width: 72px;
  //   height: 20px;
  // }
  .navigation {
    &__buttons_wrapper {
      gap: 1px;
    }
  }

  .feedback_button {
    margin-left: 20px;
  }
}

@media (max-width: $tablet-width) {
  .header {
    padding: 16px;
    &__text {
      width: 100%;
      grid-template-columns: none;
      grid-template-areas: 'A B';
      justify-content: space-between;
    }
  }

  .qazdev_logo {
    grid-area: B;
    width: 92px;
    height: 23px;
  }

  .info {
    grid-area: A;
    font-size: 10.87px;
  }

  .navigation {
    &__buttons_wrapper {
      display: none;
    }
  }

  .hamburger_button {
    display: block;
  }

  .feedback_button {
    display: none;
  }
}
