@import '/src/styles/variables.scss';

.button {
  background: $secondary-color;
  border-radius: 7.47px;
  border: none;
  cursor: pointer;
  padding: 0 8px;
  height: 36px;

  &__inner {
    align-items: center;
    display: flex;
    font-size: 10.868px;
    font-weight: 700;
    line-height: 13.585px;
    letter-spacing: -0.109px;
    text-transform: uppercase;

    &_title,
    &_description {
      display: block;
      text-align: left;
    }

    &_title {
      color: $white-color;
    }

    &_description {
      color: rgba($white-color, 0.5);
    }

    &::before {
      background-image: url('/phone_icon.svg');
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
      display: block;
      height: 22.38px;
      margin-right: 4px;
      width: 14.63px;
    }
  }
}

@media (max-width: $desktop-width) {
  .button {
    border-radius: 4px;
    height: 24.66px;
    padding: 0 4.18px;

    &__inner {
      font-size: 10px;
      line-height: 7.09px;
      letter-spacing: -0.06px;

      &_title {
        margin-bottom: 3.18px;
      }

      &::before {
        margin-right: 2.13px;
        height: 17.34px;
        width: 11.34px;
      }
    }
  }
}
