@import '/src/styles/variables.scss';
.gallery{
  margin-bottom: 140px;
}

.header {
  font-size: 65px;
  font-weight: 700;
  line-height: 73.77px;
  letter-spacing: -0.11px;
  margin-bottom: 74px;
}

.additional {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  justify-items: end;
  margin-bottom: 43px;

  &__info {
    font-size: 28px;
    font-weight: 400;
    line-height: 28.42px;
    letter-spacing: -0.11px;
  }

  &__buttons {
    width: 321.01px;
    height: 71.66px;
  }
}

.blocks {
  display: flex;
  flex-wrap: nowrap;

  &__first {
    flex: 2 1 auto;
    aspect-ratio: 1 /1;
    display: flex;
    flex-direction: column;
    max-height: 419px;
    max-width: 27%;
    min-width: 234px;
    height: auto;
    width: auto;

  }

  &__second {
    display: flex;
    flex: 0 0 auto;
    align-self: stretch;
    margin-left: 14px;
    margin-right: auto;
    width: 31px;
  }

  &__third {
    flex: 1 1 auto;
    align-self: stretch;
    margin: 0 26px 0 14px;
    max-width: 39.74%;
    min-width: 343.87px;
    display: flex;
  }

  &__fourth {
    flex: 1 1 auto;
    align-self: stretch;
    border: 1px solid orange;
    max-width: 22.26%;
    min-width: 192.28px;
    display: flex;
  }

  &__fives,
  &__sixth {
    flex-basis: 100%;
    flex: 1 1 auto;
    aspect-ratio: 1 /1;
    display: flex;
    flex-direction: column;
    max-height: 419px;
    max-width: 27%;
    min-width: 234px;
    height: auto;
    width: auto;
    position: relative;
    overflow: hidden;

    &::before {
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('/gallery_fourth_block_icon.png');
      content: ' ';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  &__sixth {
    margin: 0 26px;
  }

  &__seventh {
    flex: 1 1 auto;
    align-self: stretch;
    margin: 0 0 0 auto;
    max-width: 39.74%;
    min-width: 343.87px;
    display: flex;
  }
}

.secondary_blocks {
  margin-top: 32px;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px $primary-color dashed;
  padding: 33px 23px;

  &__header,
  &__footer {
    font-size: 20px;
    line-height: 20.3px;
    letter-spacing: -0.109px;
    text-transform: uppercase;
  }

  &__icon {
   // flex-shrink: 1.5;
    max-height: 135px;
    max-width: 135px;
    margin: 0 auto;
    position: relative;
    display: block;
    width: 100%;
  }
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &__top {
    height: 46.9px;
    width: 40.8px;
  }

  &__bottom {
    white-space: nowrap;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.24px;
    letter-spacing: -0.109px;
    position: relative;
    padding-bottom: 43px;

    &::after {
      background: $primary-color;
      content: '';
      display: block;
      height: 20px;
      width: 20px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    
  }
}

  .fourth{
      background-color: black;
      //padding: 33px 23px;


  }

@media (max-width: $desktop-width) {
 
  .header {
    font-size: 36.23px;
    line-height: 41.12px;
    letter-spacing: -0.06px;
    margin-bottom: 41.24px;
  }

  .additional {
    margin-bottom: 24px;

    &__info {
      font-size: 15.61px;
      line-height: 15.84px;
      letter-spacing: -0.06px;
    }

    &__buttons {
      width: 179.06px;
      height: 39.88px;
    }
  }

  .blocks {
    &__first {
      max-height: 243px;
      max-width: 28%;
      min-width: 164px;
      height: auto;
      width: auto;
    }

    &__second {
      margin-left: 7.8px;
      margin-right: auto;
      width: 17px;
    }

    &__third {
      margin: 0 14px 0 14px;
      max-width: 39.74%;
      min-width: 253.87px;
    }

    &__fourth {
      max-width: 22.26%;
      min-width: 132.28px;
    }

    &__fives,
    &__sixth {
      max-height: 234px;
      max-width: 27%;
      min-width: 164px;
    }

    &__sixth {
      margin: 0 14px;
    }

    &__seventh {
      max-width: 39.74%;
      min-width: 253.87px;
    }
  }

  .secondary_blocks {
    margin-top: 18px;
  }

  .first {
    padding: 18.39px 12.8px;

    &__header,
    &__footer {
      font-size: 11.147px;
      line-height: 11.314px;
      letter-spacing: -0.061px;
    }

    &__icon {
      max-height: 75.296px;
      max-width: 75.296px;
    }
  }

  .second {
    &__top {
      height: 26px;
      width: 17px;
    }

    &__bottom {
      font-size: 8.917px;
      font-weight: 400;
      line-height: 9.051px;
      letter-spacing: -0.061px;
      padding-bottom: 24px;

      &::after {
        height: 11px;
        width: 11px;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .header {
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -0.11px;
    margin-bottom: 44px;
  }

  .additional {
    grid-template-columns: auto;
    margin-bottom: 30px;

    &__info {
      font-size: 30px;
      line-height: 38.27px;
    }

    &__buttons {
      display: none;
    }
  }

  .blocks {
    display: grid;
    grid-template-areas: 'A A A A'
                         'B B C D'
                         'F F F F';
    width: 100%;
    padding: 0px 5px;
    &__first {
    //  max-height: 70%; //166px;
      max-width: 100%; //47.42%;
      aspect-ratio: auto;
      grid-area: B;
      margin: 0;
      
    }

    &__second {
      margin: 0;
     grid-area: C;
     max-width: 100%;
     max-height: 100%;
    }

    &__third {
      grid-area: A;
      max-width: 100%;
      margin: 0;
      margin-bottom: 30px;
    }

    &__fourth {
    grid-area: D;
    margin: 0;
    max-width: 100%;
    }

    &__fives,
    &__sixth {
      display: none;
    }

    &__seventh {
      max-width: 100%;
     grid-area: F;
    }
  }

  .secondary_blocks {
    margin-top: 30px;
  }

  .first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px $primary-color dashed;
    padding: 33px 0 33px 23px;
  
    &__header,
    &__footer {
      font-size: 17px;
      line-height: 100%;
   
      //letter-spacing: -0.109px;
    }
  &__footer{
    width: 73%;
  }
    &__icon {
     max-height: 130px;
     max-width: 130px;
      bottom: -30px;
      margin: 0 0 0 auto;
      display: flex;
      justify-content: end;
  
    }
  }
  
  .second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  
    &__top {
      height: 46.9px;
      width: 40.8px;
    }
  
    &__bottom {
      white-space: nowrap;
      writing-mode: vertical-lr;
      text-orientation: mixed;
      font-size: 0px;
      font-style: normal;
      font-weight: 400;
      line-height: 16.24px;
      letter-spacing: -0.109px;
      position: relative;
      padding-bottom: 43px;
  
      &::after {
        display: flex;
        background: $primary-color;
        content: '';
        display: block;
        height: 20px;
        width: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
   
  }
}


@media (max-width: $tablet-width) {
  .gallery{
    margin-bottom: 0px;
  }
  .header {
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -0.11px;
    margin-bottom: 44px;
  }

  .additional {
    grid-template-columns: auto;
    margin-bottom: 30px;

    &__info {
      font-size: 30px;
      line-height: 38.27px;
    }

    &__buttons {
      display: none;
    }
  }

  .blocks {
    padding: 0px 5px;


    &__third {
      margin-bottom: 30px;
    }

  }

  .secondary_blocks {
    margin-top: 30px;
  }

  .first {
    padding: 33px 0 33px 23px;
  
    &__header,
    &__footer {
      font-size: 17px;
    }
  &__footer{
    width: 73%;
  }
    &__icon {
      img{
        position:inherit;
      }
     
    }
  }
  
  .second {
    &__top {
      height: 46.9px;
      width: 40.8px;
    }
  
   
   
  }
 
}
