.apartment {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 12.09px;
  padding: 20.49px 20.14px;
  border-radius: 20.14px;
  max-width: 373px;
  box-sizing: border-box;
  justify-self: center;
  margin: 0 auto;
}
.apartment__info {
  font-family: Helvetica Neue;
  font-size: 19px;
  font-weight: 300;
  line-height: 22.97px;
  text-align: center;
  color: rgba(24, 39, 67, 1);
}

.apartment__img {
  width: 100%;
  height: 225.6px;
  border-radius: 13.86px;
}

.apartment__wrap {
  display: flex;
  justify-content: space-between;
}

.apartment__name {
  font-family: Helvetica Neue;
  font-size: 19px;
  font-weight: 300;
  line-height: 22.67px;
  text-align: center;
  color: rgba(84, 126, 208, 1);
}
.apartment__country {
  display: flex;
  align-items: center;
  gap: 12.35px;
}

.apartment__countryName {
  font-family: Helvetica Neue;
  font-size: 15.11px;
  font-weight: 200;
  line-height: 18.26px;
  text-align: right;
  color: rgba(24, 39, 67, 1);
}
.apartment__countryFlag {
  width: 29.21px;
  height: 17.12px;
  border-radius: 1.83px;
}
.apartment__priceWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-family: Helvetica Neue;
    font-size: 15.11px;
    font-weight: 300;
    line-height: 18.26px;
    text-align: left;
    color: rgba(84, 126, 208, 1);
  }
}

.apartment__price {
  font-family: Helvetica Neue;
  font-size: 20.14px;
  font-weight: 300;
  line-height: 24.03px;
  text-align: left;
  color: rgba(24, 39, 67, 1);
}
.apartment__percents {
  display: flex;
  flex-direction: column;
  font-family: Helvetica Neue;
  font-size: 18.63px;
  font-weight: 300;
  line-height: 22.22px;
  text-align: left;
  gap: 10.07px;
  padding: 12.11px 6.52px;
  border-radius: 6.52px;
  background: rgba(84, 126, 208, 0.14);
  p {
    color: rgba(24, 39, 67, 1);
  }
}

.apartment__info {
  font-family: Helvetica Neue;
  font-size: 20.14px;
  font-weight: 500;
  line-height: 24.59px;
  text-align: left;
  color: rgba(24, 39, 67, 1);
}

.apartment__progress {
  background-color: rgba(24, 39, 67, 1);
  padding: 17.5px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 10.07px;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.47px;
  text-align: left;
  color: white;
  span {
    color: rgba(190, 255, 107, 1);
    line-height: 21.76px;
    text-align: right;
  }
}

@media (max-width: 1200px) {
  .apartment {
    gap: 6.09px;
    padding: 15.49px 15.14px;
    border-radius: 20.14px;
    max-width: 373px;
  }
  .apartment__info {
    font-size: 19px;
    line-height: 22.97px;
  }

  .apartment__img {
    height: 155.6px;
    border-radius: 13.86px;
  }

  .apartment__name {
    font-size: 11px;
    line-height: 15.67px;
  }
  .apartment__country {
    gap: 12.35px;
  }

  .apartment__countryName {
    font-size: 10.11px;
    line-height: 15.26px;
  }
  .apartment__countryFlag {
    width: 29.21px;
    height: 17.12px;
    border-radius: 1.83px;
  }
  .apartment__priceWrap {
    span {
      font-size: 10.11px;
      line-height: 13.26px;
    }
  }

  .apartment__price {
    font-size: 15.14px;
    line-height: 19.03px;
  }
  .apartment__percents {
    font-size: 13.63px;
    line-height: 15.22px;
    gap: 10.07px;
    padding: 12.11px 6.52px;
    border-radius: 6.52px;
  }

  .apartment__info {
    font-size: 15.14px;
    line-height: 24.59px;
  }

  .apartment__progress {
    padding: 12.5px 15px;
    border-radius: 10.07px;
    font-size: 13px;
    line-height: 21.47px;
    span {
      line-height: 21.76px;
    }
  }
}

@media (max-width: 960px) {
  .apartment {
    gap: 6.09px;
    padding: 10.49px 10.14px;
    border-radius: 13.14px;
    max-width: 373px;
  }
  .apartment__info {
    font-size: 15px;
    line-height: 15.97px;
  }

  .apartment__img {
    height: 125.6px;
    border-radius: 6.86px;
  }

  .apartment__name {
    font-size: 9px;
    line-height: 10.67px;
  }
  .apartment__country {
    gap: 12.35px;
  }

  .apartment__countryName {
    font-size: 10.11px;
    line-height: 15.26px;
  }
  .apartment__countryFlag {
    width: 29.21px;
    height: 17.12px;
    border-radius: 1.83px;
  }
  .apartment__priceWrap {
    span {
      font-size: 11.11px;
      line-height: 13.26px;
    }
  }

  .apartment__price {
    font-size: 11.14px;
    line-height: 15.03px;
  }
  .apartment__percents {
    font-size: 10.63px;
    line-height: 15.22px;
    gap: 5.07px;
    padding: 6.11px 4.52px;
    border-radius: 5.52px;
  }

  .apartment__info {
    font-size: 10.14px;
    line-height: 20.59px;
  }

  .apartment__progress {
    padding: 6.5px 5px;
    border-radius: 5.07px;
    font-size: 8px;
    line-height: 8.47px;
    span {
      line-height: 8.76px;
    }
  }
}

@media (max-width: 768px) {
  .apartment {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 12.09px;
    padding: 20.49px 20.14px;
    border-radius: 13.39px;
    max-width: 247px;
    box-sizing: border-box;
    justify-self: center;
    margin: 0 auto;
  }
  .apartment__info {
    font-family: Helvetica Neue;
    font-size: 13.39px;
    font-weight: 500;
    line-height: 16.35px;
    text-align: left;
    color: rgba(24, 39, 67, 1);
  }

  .apartment__img {
    width: 100%;
    height: 149px;
    border-radius: 9.21px;
  }

  .apartment__wrap {
    display: flex;
    justify-content: space-between;
  }

  .apartment__name {
    font-family: Helvetica Neue;
    font-size: 12.63px;
    font-weight: 400;
    line-height: 15.06px;
    text-align: center;
    color: rgba(84, 126, 208, 1);
  }
  .apartment__country {
    display: flex;
    align-items: center;
    gap: 12.35px;
  }

  .apartment__countryName {
    font-family: Helvetica Neue;
    font-size: 15.11px;
    font-weight: 200;
    line-height: 18.26px;
    text-align: right;
    color: rgba(24, 39, 67, 1);
  }
  .apartment__countryFlag {
    width: 29.21px;
    height: 17.12px;
    border-radius: 1.83px;
  }
  .apartment__priceWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-family: Helvetica Neue;
      font-size: 13.39px;
      font-weight: 300;
      line-height: 15.97px;
      text-align: left;
    }
  }

  .apartment__price {
    font-family: Helvetica Neue;
    font-size: 13.39px;
    line-height: 15.97px;
    text-align: left;
    color: rgba(24, 39, 67, 1);
  }
  .apartment__percents {
    display: flex;
    flex-direction: column;
    font-family: Helvetica Neue;
    font-size: 12.38px;
    line-height: 14.77px;
    text-align: left;
    gap: 10.07px;
    padding: 12.11px 6.52px;
    border-radius: 4.33px;
    background: rgba(84, 126, 208, 0.14);
    p {
      color: rgba(24, 39, 67, 1);
    }
  }

  .apartment__info {
    font-family: Helvetica Neue;
    font-size: 20.14px;
    font-weight: 500;
    line-height: 24.59px;
    text-align: left;
    color: rgba(24, 39, 67, 1);
  }

  .apartment__progress {
    background-color: rgba(24, 39, 67, 1);
    padding: 17.5px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10.07px;
    font-family: Helvetica Neue;
    font-size: 11.96px;
    line-height: 14.27px;
    text-align: left;
    color: white;
    span {
      color: rgba(190, 255, 107, 1);
      line-height: 14.27px;
      text-align: right;
    }
  }
}
