.crm {
  width: 100%;
  &__hiddenHeading {
    display: none;
  }
  &__headingWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 80px;
  }
  &__link {
    text-transform: lowercase;
    color: black;
    font-family: Helvetica;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 126.5%; /* 25.3px */
    letter-spacing: -0.16px;
    text-decoration-line: underline;
    cursor: pointer;
  }
  &__heading {
    font-size: 30px;
    font-weight: 700;
    line-height: 116.5%;
    text-transform: uppercase;
  }
  &__logo {
    width: 55%;
    height: auto;
  }

  &__title {
    padding: 0 4%;
    height: 100%;
    color: #141414;
    font-family: Helvetica;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 148.148% */
    letter-spacing: -1.02px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  &__titleNum {
    padding: 8px 40px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__content {
    height: 680px;
    display: grid;
    grid-template-columns: 22% auto 10.5%;
  }
  &__contentColumn1 {
    display: grid;
    grid-template-rows: 65% auto;
    div {
      border-bottom: 1px solid black;
    }
  }
  &__contentColumn2 {
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: grid;
    grid-template-rows: 65% auto;
  }
  &__img {
    background-image: url('/ai.png');
    background-size: 40%;
    background-position-x: 4%;
    background-position-y: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid black;
    position: relative;
    &::after {
      content: '';
      background-image: url('/right1.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 1%;
      bottom: 5%;
    }
    &::before {
      content: '';
      background-image: url('/right2.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 2.5%;
      bottom: 5%;
    }
  }
  &__text {
    padding: 20px 80px 20px 20px;
    display: grid;
    gap: 15%;
    grid-template-columns: 40% auto;
    color: var(--black, #000);
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 126.5%; /* 22.77px */
    letter-spacing: -0.16px;
    p:last-of-type {
      align-self: end;
    }
  }
  .hiddenText {
    display: none;
  }
  &__contentColumn3 {
    display: grid;
    grid-template-rows: 65% 35%;
    div {
      border-bottom: 1px solid black;
    }
  }
}
@media (max-width: 1700px) {
  .crm {
    &__headingWrapper {
      gap: 10px;
    }
    &__link {
      font-size: 11px;
    }
    &__heading {
      font-size: 25px;
    }
    &__title {
      font-size: 21px;
    }
    &__titleNum {
      padding: 6px 30px;
    }
    &__content {
      height: 600px;
    }
    &__img {
      &::after {
        width: 30px;
        height: 30px;
      }
      &::before {
        width: 30px;
        height: 30px;
      }
    }
    &__text {
      padding: 20px 80px 20px 20px;
      font-size: 16px;
    }
  }
}

@media (max-width: 1500px) {
  .crm {
    &__headingWrapper {
      gap: 10px;
      padding: 30px 55px;
    }
    &__link {
      font-size: 9px;
    }
    &__heading {
      font-size: 20px;
    }
    &__title {
      font-size: 21px;
    }
    &__content {
      height: 550px;
    }
    &__img {
      &::after {
        width: 25px;
        height: 25px;
      }
      &::before {
        width: 25px;
        height: 25px;
      }
    }
    &__text {
      padding: 20px 80px 20px 20px;
      font-size: 14px;
    }
  }
}
@media (max-width: 1300px) {
  .crm {
    &__headingWrapper {
      gap: 6px;
      padding: 30px 45px;
    }
    &__link {
      font-size: 9px;
    }
    &__heading {
      font-size: 17px;
    }
    &__title {
      font-size: 19px;
    }
    &__titleNum {
      padding: 4px 30px;
      width: auto;
    }
    &__content {
      height: 450px;
    }
    &__img {
      &::after {
        width: 25px;
        height: 25px;
      }
      &::before {
        width: 25px;
        height: 25px;
      }
    }
    &__text {
      padding: 20px 60px 20px 20px;
      font-size: 13px;
    }
  }
}

@media (max-width: 1100px) {
  .crm {
    &__headingWrapper {
      gap: 6px;
      padding: 30px 35px;
    }
    &__link {
      font-size: 7px;
    }
    &__heading {
      font-size: 14px;
    }
    &__title {
      font-size: 17px;
    }
    &__titleNum {
      padding: 0px 30px;
    }
    &__content {
      height: 450px;
    }
    &__img {
      &::after {
        width: 25px;
        height: 25px;
      }
      &::before {
        width: 25px;
        height: 25px;
      }
    }
    &__text {
      padding: 20px 60px 20px 20px;
      font-size: 12px;
    }
  }
}
@media (max-width: 900px) {
  .crm {
    &__title {
      font-size: 17px;
    }
    &__content {
      height: 400px;
    }
    &__img {
      &::after {
        width: 20px;
        height: 20px;
      }
      &::before {
        width: 20px;
        height: 20px;
      }
    }
    &__text {
      padding: 20px 60px 20px 20px;
      font-size: 10px;
    }
  }
}

@media (max-width: 768px) {
  .crm {
    &__hiddenHeading {
      display: flex;
      flex-direction: column;
      grid-area: 10px;
      border-right: 1px solid black;
      padding: 20px 0;
      gap: 10px;
    }
    &__link {
      font-size: 13px;
    }
    &__logo {
      width: 40%;
    }
    &__heading {
      font-size: 30px;
    }
    &__headingWrapper {
      display: none;
    }
    &__title {
      padding: 0 0 0 25px;
      font-size: 30px;
      display: grid;
      grid-template-columns: 75% 25%;
      align-items: center;
      justify-content: space-between;
      border-bottom: none;
      p:first-of-type {
        padding-right: 5px;
      }
    }
    &__titleNum {
      padding: 20px 0;
      border-right: none;
      border-left: none;
      height: auto;
      justify-content: center;
      display: flex;
      align-items: center;
    }
    &__content {
      height: auto;
      grid-template-columns: none;
    }
    &__contentColumn1 {
      display: grid;
      grid-template-rows: 60% 40%;
      div {
        border-bottom: 1px solid black;
      }
    }
    &__contentColumn2 {
      border-top: 1px solid black;
      border-left: none;
      border-right: none;
      display: grid;
      grid-template-rows: none;
    }
    &__img {
      background-size: 95%;
      background-position: center;
      border-bottom: 1px solid black;
      position: relative;
      height: 400px;
      &::after {
        display: none;
      }
      &::before {
        display: none;
      }
    }
    &__text {
      padding: 20px 0;
      display: grid;
      gap: 0%;
      grid-template-columns: none;
      font-size: 18px;
      border-bottom: 1px solid black;
      p:first-of-type {
        display: none;
      }
      p:last-of-type {
        padding: 10px 25px;
      }
    }
    .hiddenText {
      display: flex;
      gap: 40px;
      flex-direction: column;
      color: var(--black, #000);
      font-family: Helvetica;
      font-style: normal;
      font-weight: 400;
      line-height: 126.5%; /* 20.24px */
      letter-spacing: -0.16px;
      padding: 30px 25px 0px 25px;
      p {
        font-size: 18px;
      }
      &__last {
        display: flex;
        .rightIcon {
          background-image: url('/arrows.svg');
          background-size: contain;
          background-repeat: no-repeat;
          width: 35px;
          height: 35px;
          align-self: center;
          margin-right: 4%;
        }
        p {
          font-size: 17px;
          width: 70%;
        }
      }
    }
    &__contentColumn3 {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .crm {
    &__title {
      padding: 0 0 0 16px;
      font-size: 27px;
    }
    &__link {
      font-size: 11px;
    }
    &__heading {
      font-size: 23px;
    }
    &__img {
      height: 260px;
      background-size: 90%;
    }
    &__text {
      padding: 20px 0;
      font-size: 18px;
      p:last-of-type {
        padding: 10px 16px;
      }
    }
    .hiddenText {
      gap: 40px;
      padding: 30px 16px 15px 16px;
      p {
        font-size: 16px;
      }
      &__last {
        .rightIcon {
          width: 35px;
          height: 35px;
        }
        p {
          font-size: 14px;
          width: 60%;
        }
      }
    }
  }
}
