.visa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  background-color: #fff;
  &__typesWrapper {
    border-radius: 20px;
    background: rgba(50, 52, 154, 0.11);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(2px);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__typesWrapperLinks {
    display: grid;
    gap: 30px;
    padding: 10% 5%;
    justify-content: center;
    align-items: center;
    button {
      min-width: 450px;
      width: 100%;
      color: #fff;
      font-family: "Gothic A1", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-decoration-line: underline;
      padding: 7%;
      border-radius: 10px;
      background: #32349a;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__countryWrapper {
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding: 15% 8%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 250px;
    position: relative;
    overflow: hidden;
  }
  &__countryWrapper::after {
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: 150px;
    z-index: 5;
    color: #fff;
    text-align: center;
    font-family: "Goldman", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 11.605%; /* 3.133px */
    b {
      color: #fff;
      text-align: center;
      font-family: Impact;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 0%; /* 0px */
    }
  }
  &__countryName {
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-family: Impact;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__country {
    width: 100%;
    justify-content: end;
    display: flex;
    gap: 3%;
    align-items: center;
    z-index: 5;
  }
  .flag {
    width: auto;
    height: 45px;
  }
  &__bottomText {
    margin-top: 50px;
  }
  &__title {
    color: #32349a;
    text-align: center;
    font-family: "Goldman", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.3px;
    margin-bottom: 50px;
  }
  &__text {
    color: #000;
    text-align: justify;
    font-family: "Goldman", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 139%; /* 48.65px */
  }
}
.routedList {
  font-size: 25px;
  font-family: "Gothic A1", sans-serif;
  font-weight: 800;
  display: flex;
  gap: 10px;
  margin-bottom: 70px;
  width: 100%;

  a {
    color: #aea7a7;
  }
  span {
    color: #000;
  }
}

.mobileWrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  margin-top: 50px;

  &__visaType {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
  }
  &__title {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 800;
    font-family: "Gothic A1", sans-serif;
    background-color: #32349a;
    padding: 15px;
    border-radius: 10px;
    text-transform: uppercase;
  }
  &__text {
    font-size: 19px;
    font-family: "Goldman", sans-serif;
    // font-weight: 700;
    color: #000;
    padding: 40px 0 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: auto;
  }
  .textWrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    height: 100%;
  }
  .doc {
    height: 300px;
    width: 100%;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
  }

  .mobileDoc {
    display: none;
  }
}

@media (max-width: 1400px) {
  .visa {
    padding: 70px 100px;
    &__typesWrapper {
      border-radius: 20px;
    }

    &__countryName {
      font-size: 40px;
    }
    &__countryWrapper {
      border-radius: 0px 20px 20px 0px;
    }
    &__info {
      font-size: 18px;
      b {
        font-size: 24px;
      }
    }
    &__title {
      margin-bottom: 30px;
    }
    .flag {
      height: 35px;
    }
  }
  .mobileWrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    margin-top: 50px;
  }
}
@media (max-width: 1100px) {
  .visa {
    padding: 80px 50px;
    &____typesWrapper {
      border-radius: 20px;
    }
    &__typesWrapperLinks {
      button {
        min-width: 300px;
      }
    }
    &__countryName {
      font-size: 35px;
    }
    &__countryWrapper {
      border-radius: 0px 20px 20px 0px;
    }
    &__info {
      height: 120px;
      font-size: 14px;
      b {
        font-size: 20px;
      }
    }
    .mobileWrapper {
      .doc {
        height: 200px;
      }
    }
  }
}
@media (max-width: 1000px) {
  .routedList {
    font-size: 25px;
  }
}
@media (max-width: 900px) {
  .visa {
    padding: 80px 40px;
    &__typesWrapper {
      border-radius: 20px;
    }
    &__countryName {
      font-size: 30px;
    }
    &__info {
      font-size: 12px;
      height: 100px;
      b {
        font-size: 17px;
      }
    }
    &__bottomText {
      margin-top: 40px;
    }
    &__title {
      font-size: 25px;
      margin-bottom: 50px;
    }
    &__text {
      font-size: 18px;
    }
  }
  .mobileWrapper {
    gap: 30px;
    width: 100%;
    margin-top: 50px;

    &__title {
      font-size: 20px;
      padding: 14px;
      border-radius: 50px;
    }
    &__text {
      font-size: 18px;
      padding: 20px 0;
    }
    .mobileWrapper {
      .doc {
        height: 150px;
      }
    }
  }
}

@media (max-width: 768px) {
  .routedList {
    margin-bottom: 30px;
  }
  .visa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 17px 10px;
    background-color: #fff;

    &__country {
      justify-content: start;
    }

    &__typesWrapper {
      grid-template-columns: 1fr;
      border-radius: 20px;
      background: rgba(50, 52, 154, 0.11);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
        0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
      backdrop-filter: blur(2px);
    }
    &__typesWrapperLinks {
      display: none;
    }
    &__countryWrapper {
      border-radius: 20px;
      padding: 50px;
      align-items: start;
      gap: 80px;
      min-height: 190px;
    }
    &__countryName {
      font-size: 30px;
    }
    &__info {
      height: 50px;
      font-size: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
      text-align: left;
      b {
        font-size: 20px;
      }
    }
    &__bottomText {
      margin-top: 50px;
    }
    &__title {
      font-size: 17px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 13px;
      font-weight: 600;
    }
  }
  .mobileWrapper {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    margin-top: 50px;

    &__visaType {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__title {
      text-align: center;
      color: white;
      font-size: 15px;
      font-weight: 800;
      font-family: "Gothic A1", sans-serif;
      background-color: #32349a;
      padding: 20px;
      border-radius: 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    &__text {
      font-size: 13px;
      font-family: "Goldman", sans-serif;
      font-weight: 400;
      color: #000;
      background-color: #32349a47;
      opacity: 1;
      padding: 20px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    // .mobileDoc{
    //   display: flex;

    // }
    .textWrap {
      display: flex;
      flex-direction: column;
      z-index: 5;
    }
    .doc {
      display: flex;
      width: 100%;
      background-size: contain;
      height: 200px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .routedList {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .visa {
    padding: 60px 20px 10px;
    &__info {
      gap: 30px 0;
    }
    &__countryName {
      font-size: 27px;
    }
    &__countryWrapper {
      border-radius: 20px;
      padding: 15% 8%;
      min-height: 150px;
    }
    &__info {
      font-size: 13px;
      b {
        font-size: 17px;
      }
    }
    &__bottomText {
      margin-top: 50px;
    }
    &__title {
      font-size: 22px;
    }
    &__text {
      font-size: 15px;
    }
  }
}
