.buttons {
  margin: 0 -5px;
  z-index: 20px;
  &::after,
  &::before {
    content: none;
  }
}

.topInfo {
  display: flex;
  justify-content: space-between;
}

.main__slider {
  margin: 0 0px;
}
.swiperContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer {
  background-color: white;
  box-shadow: 0px 4px 9.7px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  width: calc(100% - 60px);
  margin: 0 auto;
}

.main__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.apartment__wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.apartment__name {
  font-family: Helvetica Neue;
  font-size: 32px;
  font-weight: 400;
  line-height: 39.07px;
  text-align: left;
  color: rgba(24, 39, 67, 1);
}
.apartment__country {
  display: flex;
  align-items: center;
  gap: 12.35px;
}

.apartment__countryName {
  font-family: Helvetica Neue;
  font-size: 22px;
  font-weight: 300;
  line-height: 26.6px;
  text-align: left;
  color: rgba(24, 39, 67, 1);
}
.apartment__countryFlag {
  width: 39.3px;
  height: 19.19px;
  border-radius: 1.83px;
}
.apartment__images {
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 25px;
}

.apartment__img1 {
  // background-image: url("../../../../assets/images/img1.png");
  background-position: center;
  background-size: cover;
  // border-radius: 18.88px;
  border-radius: 9.44px;
  height: 100%;
  width: 100%;
}

.swiperTop {
  height: 500px;
}

.swiperBottom {
  height: 167px;
  margin-top: 15px;
}

.users {
  background: rgba(84, 126, 208, 1);
  padding: 12px 10px 12px 10px;
  display: flex;
  border-radius: 5px;
  gap: 5px;
  height: fit-content;
  align-items: center;
}

.users__info {
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.47px;
  text-align: left;
}

@media (max-width: 1200px) {
  .buttons {
    margin: 0 -5px;
    z-index: 20px;
  }

  .outer {
    border-radius: 20px;
    padding: 30px;
    gap: 40px;
    width: calc(100% - 60px);
  }

  .main__right {
    gap: 20px;
  }

  .apartment__name {
    font-size: 25px;
    line-height: 30.07px;
  }
  .apartment__country {
    gap: 12.35px;
  }

  .apartment__countryName {
    font-size: 16px;
    line-height: 18.6px;
  }
  .apartment__countryFlag {
    width: 39.3px;
    height: 19.19px;
    border-radius: 1.83px;
  }
  .apartment__images {
    gap: 25px;
  }

  // .apartment__img1 {
  //   border-radius: 18.88px;
  // }
  .apartment__img1 {
    border-radius: 9.44px;
  }

  .swiperTop {
    height: 350px;
  }

  .swiperBottom {
    height: 107px;
    margin-top: 15px;
  }
}

@media (max-width: 1000px) {
  .buttons {
    margin: 0 -5px;
    z-index: 20px;
  }

  .outer {
    border-radius: 12px;
    padding: 30px;
    gap: 20px;
    width: calc(100% - 60px);
  }

  .main__right {
    gap: 20px;
  }

  .apartment__name {
    font-size: 22px;
    line-height: 25.07px;
  }
  .apartment__country {
    gap: 12.35px;
  }

  .apartment__countryName {
    font-size: 13px;
    line-height: 14.6px;
  }
  .apartment__countryFlag {
    width: 39.3px;
    height: 19.19px;
    border-radius: 1.83px;
  }
  .apartment__images {
    gap: 25px;
  }

  .apartment__img1 {
    border-radius: 9.44px;
  }

  .swiperTop {
    height: 300px;
  }

  .swiperBottom {
    height: 80px;
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .outer {
    padding: 20px 20.14px 20px 20.14px;
    gap: 20px;
    border-radius: 15px;
    width: calc(100% - 40px);
  }
  .apartment__name {
    font-family: Helvetica Neue;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.54px;
    text-align: left;
  }

  .apartment__countryName {
    font-family: Helvetica Neue;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.93px;
    text-align: right;
  }

  .users__info {
    font-family: Helvetica Neue;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.32px;
    text-align: center;
  }

  .users {
    padding: 12px 10px;
  }
}
