.outer {
  background-size: 100% 1100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("./../../assets/images/vissa.png");
}

.main {
  display: grid;
  margin: 0 65px;
  .heading {
    color: #32349a;
    font-family: "Gothic A1", sans-serif;
    font-size: 27px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 0;
  }
  &__infoVisa {
    display: none;
  }
  &__topSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__leftSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 70px 15px 70px;
    background: white;
    border-top-left-radius: 25px;
    h1 {
      margin-bottom: 0px;
    }
    p {
      margin: 0;
    }
    .text {
      color: #000;
      text-align: center;
      font-family: "Goldman", sans-serif;
      font-size: 18px;
    }
    .calling {
      display: flex;
      justify-content: space-around;
      &__text {
        text-align: left;
        font-family: "Goldman", sans-serif;
        font-size: 18px;
        width: 50%;
      }

      &__phoneNumbers {
        color: #32349a;
        font-family: "Inter", sans-serif;
        font-weight: 800;
        font-size: 18px;
        display: flex;
        img {
          width: 20px;
          margin-right: 10px;
        }
      }
    }
  }

  &__rightSection {
    background: #d9d9d9;
    padding: 35px 40px 15px 40px;
    border-top-right-radius: 25px;
    h1 {
      margin-bottom: 23px;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .error {
        color: red;
        font-family: "Goldman", sans-serif;
        font-size: 14px;
        width: 80%;
        margin-top: 5px;
      }
      input {
        border-radius: 50px;
        margin-top: 1%;
        border: #fff;
        font-family: "Goldman", sans-serif;
        font-size: 17px;
        width: calc(65% - 40px);
        padding: 13px 20px;
        &::placeholder {
          .placeholder_red {
            color: red;
          }
          .placeholder_initial {
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }
      button {
        margin-top: 2%;
        border-radius: 50px;
        border: 1px solid #d9d9d9;
        background: #ea4f0d;
        color: #fff;
        font-family: "Goldman", sans-serif;
        cursor: pointer;
        padding: 13px 50px;
        font-size: 18px;
      }
      button:hover {
        background: #32349a;
      }
    }
  }
  &__bottomSection {
    background: #32349a;
    display: flex;
    justify-content: space-between;
    padding: 1% 11% 1% 4%;
    margin-bottom: 150px;
    &__text {
      color: white;
      font-family: "Gothic A1", sans-serif;
      font-size: 17px;
      display: flex;
      align-items: center;
      width: 43%;
    }
    &__list {
      li {
        color: #fff;
        font-family: "Goldman", sans-serif;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
}
@media (max-width: 1295px) {
  .main {
    margin: 0 65px;
    .heading {
      font-size: 21px;
    }
    &__leftSection {
      padding: 35px 40px 15px 40px;
      .text {
        font-size: 18px;
      }
      .calling {
        &__text {
          font-size: 17px;
        }

        &__phoneNumbers {
          font-size: 17px;
        }
      }
    }

    &__rightSection {
      form {
        .error {
          font-size: 12px;
          margin-top: 5px;
        }
        input {
          font-size: 15px;
          padding: 10px 17px;
        }
        button {
          padding: 13px 50px;
          font-size: 18px;
        }
      }
    }
    &__bottomSection__text {
      font-size: 18px;
    }
    &__bottomSection__list {
      li {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 1220px) {
  .main {
    .heading {
      font-size: 18px;
    }
    &__leftSection {
      padding: 30px 30px 15px 30px;
      .text {
        font-size: 15px;
      }
      .calling {
        &__text {
          font-size: 15px;
        }
        img {
          width: 15px;
        }

        &__phoneNumbers {
          font-size: 15px;
        }
      }
    }

    &__rightSection {
      form {
        input {
          font-size: 14px;
        }
        button {
          padding: 12px 50px;
          font-size: 14px;
        }
      }
    }
    &__bottomSection__text {
      font-size: 14px;
    }
    &__bottomSection__list {
      li {
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 1090px) {
  .main {
    margin: 0 40px;
  }
}
@media (max-width: 1030px) {
  .main {
    .heading {
      font-size: 18px;
    }
    &__leftSection {
      padding: 25px 30px 18px 30px;
      .text {
        font-size: 14px;
      }
      .calling {
        &__text {
          font-size: 14px;
        }
        img {
          width: 12px;
        }

        &__phoneNumbers {
          font-size: 14px;
        }
      }
    }

    &__rightSection {
      padding: 25px 30px 18px 30px;

      form {
        input {
          font-size: 14px;
        }
        button {
          padding: 9px 45px;
          border-radius: 10px;
          font-size: 14px;
        }
      }
    }
    &__bottomSection__text {
      font-size: 14px;
    }
    &__bottomSection__list {
      li {
        font-size: 12px;
      }
    }
    &__bottomSection {
      margin-bottom: 70px;
    }
  }
}

@media (max-width: 962px) {
  .main {
    .heading {
      font-size: 14px;
    }
    &__leftSection {
      .text {
        font-size: 13px;
      }
      .calling {
        &__text {
          font-size: 14px;
        }
        img {
          width: 12px;
        }

        &__phoneNumbers {
          font-size: 13px;
        }
      }
    }

    &__rightSection {
      form {
        .error {
          font-size: 10px;
        }
        input {
          width: calc(70% - 20px);
          padding: 5px 10px;
          font-size: 14px;
          border-radius: 10px;
        }
        button {
          padding: 5px 35px;
          border-radius: 10px;
          font-size: 14px;
        }
      }
    }
    &__bottomSection__text {
      font-size: 13px;
    }
    &__bottomSection__list {
      li {
        font-size: 11px;
      }
    }
    &__bottomSection {
      margin-bottom: 60px;
    }
  }
}
@media (max-width: 768px) {
  .outer {
    background-image: unset;
  }
  .main {
    display: grid;
    margin: 0 30px;
    .heading {
      font-size: 19px;
    }
    &__infoVisa {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: 44px 0;
    }
    &__infoVisaHeading {
      color: #32349a;
      font-family: "Goldman", sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &__topSection {
      grid-template-columns: 1fr;
    }
    &__infoVisaText {
      color: #32349a;
      text-align: justify;
      font-family: "Goldman", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &__leftSection {
      display: none;
    }

    &__rightSection {
      padding: 45px 40px 20px 40px;
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
      h1 {
        margin-bottom: 23px;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .error {
          font-size: 12px;
          width: 70%;
          margin-top: 5px;
          margin-bottom: 10px;
        }
        input {
          border-radius: 50px;
          margin-top: 1%;
          padding: 13px 21px;
          width: calc(70% - 50px);
          font-size: 15px;
        }
        button {
          margin-top: 5%;
          padding: 10px 27px;
          font-size: 15px;
          border-radius: 15px;
        }
      }
    }
    &__bottomSection__text {
      display: none;
    }
    &__bottomSection__list {
      li {
        font-size: 15px;
      }
    }
    &__bottomSection {
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 25px;
      display: flex;
      justify-content: center;
      padding: 1% 11% 1% 4%;
    }
  }
}
@media (max-width: 523px) {
  .main {
    .heading {
      font-size: 15px;
    }
    &__infoVisaText {
      font-size: 15px;
    }
    &__rightSection {
      padding: 45px 40px 20px 40px;
      h1 {
        margin-bottom: 23px;
      }
      form {
        .error {
          font-size: 9px;
          width: 70%;
          margin-top: 5px;
          margin-bottom: 10px;
        }
        input {
          border-radius: 50px;
          margin-top: 1%;
          padding: 13px 21px;
          width: calc(70% - 50px);
          font-size: 10px;
        }
        button {
          margin-top: 5%;
          padding: 10px 27px;
          border-radius: 15px;
          font-size: 12px;
        }
      }
    }
    &__bottomSection__list {
      li {
        font-size: 10px;
      }
    }
  }
}
@media (max-width: 500px) {
  .main {
    margin: 0 20px;
    .heading {
      font-size: 15px;
    }

    &__rightSection {
      padding: 35px 20px 20px;
      h1 {
        margin-bottom: 23px;
      }
      form {
        .error {
          font-size: 9px;
          width: 70%;
          margin-top: 5px;
          margin-bottom: 10px;
        }
        input {
          border-radius: 50px;
          margin-top: 1%;
          padding: 13px 21px;
          width: calc(70% - 50px);
          font-size: 10px;
        }
        button {
          margin-top: 5%;
          padding: 10px 27px;
          border-radius: 15px;
          font-size: 12px;
        }
      }
    }
    &__bottomSection__list {
      li {
        font-size: 8px;
      }
    }
    &__bottomSection {
      padding: 10px;
    }
  }
}
