@import '/src/styles/variables.scss';

// .slider_wrapper {
// }
/* Стили для точек навигации */

.slider {
  //padding: 88px;
  height: 100%;
  width: 450px;
  flex-shrink: 1;
  ul {
    background-color: white;
    .slick-active {
      background-color:red;
    }
  }
}
.slide_wrapper1 {
  aspect-ratio: 3/4;
  position: relative;
  
}

@media (width: 1300px) {
  .slider {
    width: 300px;
  }

}
