@import '/src/styles/variables.scss';



.BigSlider_slider__rNtJR {
  ul.slick-dots{
    .slick_active{
      button:before{
        color: azure;
      }
    }
  }
}
.slider {
  height: 100%;
  width: 450px;
  min-width: 0;
  background-color: antiquewhite;
 ul {
  li {
    button:before{
   //color: #2313DB;
   color:  #2313DB;
   font-size: 19px;
   opacity: 90%;
 }

} 
 }

}

.dot {
  border: 1px solid lime;
}

.slide_wrapper1 {
  aspect-ratio: 3/4;
  position: relative;
  
}

//  .slick-dots{
//     background-color: aliceblue;
//   li.slick-active button:before{
//   color: #2313DB;
// }}

