@import '/src/styles/variables.scss';

.strongCoding {
  padding: 47px 43px 0px 43px;
  height: 850px;
  width: auto;
  display: grid;
  margin-bottom: 140px;
  grid-template-columns: 1fr 1fr;
  border-radius: 14.531px;
  background: #f2f2f2;
  column-gap: 3%;
  &__main {
    padding: 10px 0 65px 0;
    display: grid;
    grid-template-areas:
      'A A A'
      'B B B'
      'C C C'
      'D D D';
    background-image: url('/line.svg');
    background-repeat: no-repeat;
    background-size: 0.26%;
    background-position: 39% 80px;
    h2 {
      grid-area: A;
      color: #000;
      font-family: Helvetica;
      font-size: 88px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      text-transform: uppercase;

      transition: all, 0.8s ease 0s;
    }

    .hr_line {
      grid-area: C;
      hr {
        width: 100%;
        border: none;
        border-top: 1px solid #000;
      }
    }
  }
  &__textTop {
    grid-area: B;
    align-self: end;
  }
  &__textBottom {
    grid-area: D;
    align-self: end;
    .cases_button_1 {
      padding: 13px 16px 13px 13px;
      border-radius: 7px;
      font-weight: 600;
      background-color: black;
      color: #eaeaea;
      text-align: center;
      font-family: Helvetica;
      font-size: 23px;
      letter-spacing: -0.988px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      border: 0;
      margin-bottom: 25px;
      cursor: pointer;

      .cases_button__arrow1 {
        border-radius: 4px;
        margin-right: 20px;
        height: 38px;
        width: 38px;
      }
    }
    .click_for {
      color: #000;
      font-family: Helvetica;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 17.76px; /* 126.86% */
    }
  }
  &__textTop,
  &__textBottom {
    display: grid;
    grid-template-columns: 43% 57%;
    justify-content: start;

    .text {
      color: #000;
      font-family: Helvetica;
      font-size: 23.25px;
      font-style: normal;
      font-weight: 400;
      line-height: 101.5%;
      letter-spacing: -0.105px;
      width: 100%;
      strong {
        font-weight: 700;
      }
    }
  }

  .slider1 {
    border-top-left-radius: 19.375px;
    border-top-right-radius: 19.375px;
    background: black;
    height: 100%;
    width: auto;
    &_big {
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      &::after {
        content: '';
        background-image: url('/scheme.png');
        background-size: cover;
        position: absolute;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 25%;
        background-repeat: no-repeat;
        background-position-x: 50%;
        opacity: 0.6;
        pointer-events: none;
      }
    }
  }
}
@media (max-width: 1370px) {
  .strongCoding {
    margin-bottom: 100px;
  }
}
@media (max-width: 1670px) {
  .strongCoding {
    padding: 40px 38px 0px 38px;
    &__textTop,
    &__textBottom {
      grid-template-columns: 47% 53%;
      .text {
        font-size: 20px;
      }
    }
    &__main {
      background-size: 0.3%;
      background-position: 45% 80px;
    }
  }
}
@media (max-width: 1617px) {
  .strongCoding {
    height: 730px;
    h2 {
      font-size: 68px;
    }
    &__textTop,
    &__textBottom {
      grid-template-columns: 40% 60%;
      .text {
        font-size: 18px;
      }
    }
    &__textBottom {
      .cases_button_1 {
        padding: 12px;
        font-size: 18px;
        margin-bottom: 19px;
        .cases_button__arrow1 {
          border-radius: 4px;
          margin-right: 18px;
          height: 28px;
          width: 28px;
        }
      }
      .click_for {
        font-size: 10px;
      }
    }
    &__main {
      background-size: 0.26%;
      background-position: 35% 70px;
      padding: 8px 0 35px 0;
    }
  }
}

@media (max-width: 1465px) {
  .strongCoding {
    padding: 35px 33px 0px 33px;
    height: 650px;
    h2 {
      font-size: 65px;
    }
    &__textTop,
    &__textBottom {
      grid-template-columns: 40% 60%;
      .text {
        font-size: 15px;
      }
    }
    &__textBottom {
      .cases_button_1 {
        padding: 6px 16px 6px 6px;
        font-size: 15px;
        margin-bottom: 14px;
        .cases_button__arrow1 {
          border-radius: 4px;
          margin: 7px;
          height: 25px;
          width: 25px;
        }
      }
      .click_for {
        font-size: 8px;
      }
    }
    &__main {
      background-size: 0.25%;
      background-position: 36% 65px;
      padding: 7px 0 30px 0;
    }
  }
}
@media (max-width: 1100px) {
  .strongCoding {
    padding: 30px 28px 0px 28px;
    height: 530px;
    h2 {
      font-size: 59px;
    }
    &__textTop,
    &__textBottom {
      grid-template-columns: 47% 53%;
      .text {
        font-size: 12px;
      }
    }
    &__textBottom {
      .cases_button_1 {
        padding: 5px 15px 5px 5px;
        font-size: 13px;
        margin-bottom: 10px;
        .cases_button__arrow1 {
          border-radius: 4px;
          margin-right: 5px;
          height: 22px;
          width: 22px;
        }
      }
      .click_for {
        font-size: 7px;
      }
    }
    &__main {
      background-size: 0.26%;
      background-position: 44% 60px;
      padding: 7px 0 25px 0;
    }
    .slider1 {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  }
}
@media (max-width: $desktop_width) {
  //992px
  .strongCoding {
    height: 500px;
    margin-bottom: 60px;
    h2 {
      font-size: 52px;
    }
    &__textTop,
    &__textBottom {
      grid-template-columns: 45% 55%;
      .text {
        font-size: 12px;
      }
    }
    &__textBottom {
      .cases_button_1 {
        padding: 4px 15px 4px 4px;
        font-size: 13px;
        margin-bottom: 10px;

        .cases_button__arrow1 {
          border-radius: 4px;
          margin: 5px 11px 5px 5px;
          height: 22px;
          width: 22px;
        }
      }
      .click_for {
        font-size: 7px;
      }
    }
    &__main {
      padding: 7px 0 17px 0;
      background-size: 0.27%;
      background-position: 42% 60px;
    }
  }
}
@media (max-width: 830px) {
  .strongCoding {
    height: 450px;
    h2 {
      font-size: 45px;
    }
    &__textTop,
    &__textBottom {
      grid-template-columns: 47% 53%;
      .text {
        font-size: 10px;
      }
    }

    &__textBottom {
      .cases_button_1 {
        padding: 4px 15px 4px 4px;
        font-size: 10px;
        margin-bottom: 10px;
        .cases_button__arrow1 {
          border-radius: 4px;
          margin: 3px;
          height: 18px;
          width: 18px;
        }
      }
      .click_for {
        font-size: 5px;
      }
    }
    &__main {
      background-size: 0.3%;
      background-position: 44% 60px;
    }
  }
}
@media (max-width: $tablet-width) {
  .strongCoding {
    height: 100%;
    padding: 25px 10px 0px 10px;
    margin: 15px 0 60px 0;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: #f2f2f2;
    &__textTop,
    &__textBottom {
      display: block;
      width: 100%;

      .text {
        color: #000;
        font-family: Helvetica;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.105px;
        padding: 21px 9px;
      }
    }
    &__textTop {
      grid-area: B;
      border: 1px solid black;
    }

    &__textBottom {
      grid-area: C;
      border: 1px solid black;
      border-top: #f2f2f2;
      .cases_button_1 {
        display: none;
      }
      .click_for {
        display: none;
      }
    }
    &__main {
      background-image: none;
      display: grid;
      grid-template-areas:
        'A A A'
        'B B B'
        'C C C';
      margin-bottom: 40px;
      h2 {
        grid-area: A;
        color: #000;
        font-family: Helvetica;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        text-transform: uppercase;
        margin-bottom: 55px;
      }

      .hr_line {
        display: none;
      }
    }

    .slider1 {
      border-radius: 8px;
      background: black;
      height: 420px;
      width: auto;
      padding: 40px;
    }
  }
}
@media (max-width: $mobile-width) {
  //576px
  .strongCoding {
    margin: 60px 0 60px 0;
    &__textTop,
    &__textBottom {
      .text {
        font-size: 17px;
        padding: 21px 9px;
      }
    }
    &__main {
      margin-bottom: 10px;
      h2 {
        font-size: 31px;
        margin-bottom: 40px;
      }
    }

    .slider1 {
      height: 332px;
      padding: 17px;
      border-radius: 5px;
    }
  }
}
