@font-face {
  font-family: Helvetica Neue;
  src: url("../src/assets/fonts/HelveticaNeue/HelveticaNeueMedium.ttf");
}

@font-face {
  font-family: Actay Wide;
  src: url("../src/assets/fonts/ActayWide/Actay-Regular.otf");
}

@font-face {
  font-family: Inter Tight;
  src: url("../src/assets/fonts/InterTight/InterTight-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
a {
  color: white;
}

body {
  margin: 0;
  background: rgba(24, 39, 67, 1) url("../src/assets/images/background.png")
    no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.container {
  max-width: 1530px;
  margin: 0 auto;
  padding: 0 80px;
}

li {
  list-style: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
@media (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 1000px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 30px;
  }
}
