.main {
  background-color: white;
  min-height: 100vh;
}

.logo {
  width: 391px;
  padding: 40px;
}

.main__content {
  border-top: 1px solid rgba(206, 205, 210, 1);
  padding: 40px 40px 150px 40px;
}

.main__title {
  font-family: Inter Tight;
  font-size: 35px;
  font-weight: 600;
  line-height: 45.5px;
  text-align: left;
  color: rgba(29, 29, 29, 1);
  margin-bottom: 30px;
}

.apartment {
  display: flex;
  align-items: center;
  gap: 10px;
}

.apartment__text {
  font-family: Inter;
  font-size: 25px;
  font-weight: 500;
  line-height: 30.26px;
  text-align: left;
  color: rgba(29, 29, 29, 1);
}

.mainForm {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mainForm__input {
  border: 1px solid var(--dark-50, rgba(29, 29, 29, 0.5));
  font-family: Inter !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 34px !important;
  text-align: left;
  color: rgba(29, 29, 29, 1) !important;
  &::placeholder {
    color: rgba(29, 29, 29, 0.35);
  }
}

.mainForm__input2 {
  border: 1px solid var(--dark-50, rgba(29, 29, 29, 0.5));
  font-family: Helvetica Neue !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 24.42px !important;
  text-align: left;
  color: rgba(29, 29, 29, 1) !important;
  &::placeholder {
    color: rgba(29, 29, 29, 0.35) !important;
    font-weight: 300 !important;
    font-family: Inter !important;
    font-size: 20px !important;
    line-height: 34px !important;
    text-align: left;
  }
}

.area {
  border-radius: 5px;
  border: 1px solid rgba(29, 29, 29, 0.5);
  width: 100%;
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 300;
  line-height: 23.86px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  padding: 15px;
  box-sizing: border-box;
  &:focus {
    outline: unset;
  }
}

.apartmentWrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.addApartment {
  color: white;
  font-family: Inter Tight;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  padding: 16.49px 18.74px;
  border-radius: 7.49px;
  border: 0.75px solid rgba(24, 39, 67, 1);
  width: fit-content;
  align-self: flex-end;
  background-color: rgba(84, 126, 208, 1);
}

.NFTButton {
  color: white;
  font-family: Inter Tight;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  padding: 16.49px 18.74px;
  border-radius: 7.49px;
  border: 0.75px solid rgba(24, 39, 67, 1);
  width: 481px;
  box-sizing: border-box;
  background-color: rgba(84, 126, 208, 1);
  display: flex;
  justify-content: center;
}

.percents {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

.nft {
  display: grid;
  grid-template-columns: 481px 481px;
  gap: 30px;
}

.buttons {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}

.buttons__cancel {
  background-color: rgba(212, 212, 212, 1);
  border-radius: 7.49px;
  font-family: Inter Tight;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: rgba(24, 39, 67, 1);
  width: 266px;
  box-sizing: border-box;
  padding: 16.49px 18.74px;
  display: flex;
  justify-content: center;
}

.buttons__create {
  border-radius: 7.49px;
  background-color: rgba(24, 39, 67, 1);
  color: white;
  font-family: Inter Tight;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  padding: 16.49px 18.74px;
  display: flex;
  justify-content: center;
  width: 266px;
  box-sizing: border-box;
}

.property {
  display: flex;
  align-items: center;
  gap: 10px;
}

.property__text {
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
  text-align: left;
  color: black;
}

.property__input {
  border-radius: 5px;
  border: 1px solid rgba(142, 142, 142, 1);
  width: 88px;
  height: 54px;
  background-color: unset;
  padding: 10px;
  box-sizing: border-box;
  color: black;
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
  text-align: center;
}

.apartment__info {
  display: flex;
  gap: 100px;
}

.propertyWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.uploadImg {
  width: fit-content;
  margin-bottom: 50px;
  margin-top: 50px;
}

.error {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(229, 62, 62, 1);
  align-self: flex-start;
  margin-top: 10px;
}
