.work_environment{
    margin-top: 50px;
    h1{
        color: var(--black, #000);
        font-family: Helvetica;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%; 
        letter-spacing: -0.16px;
        text-transform: uppercase;
        padding: 2% 11%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    &_main{
        margin: 0 9%;
        display: grid;
        grid-template-rows: 40% 47% 13%;
        height: 888px;
        border: 1px solid black;
        border-top: none;
        &_1{
            border-bottom: 1px solid black;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            color: var(--black, #000);
            font-family: Helvetica;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 128.5%;
            letter-spacing: -0.16px;
            text-transform: uppercase;
            b{
                color: var(--black, #E97810);
                font-family: Helvetica;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: 128.5%; /* 35.98px */
                letter-spacing: -0.16px;
                text-transform: uppercase;
               }
            
            .column1{
            border-right: 1px solid black;   
            padding: 9% 7%;   
            display: flex;
            flex-direction: column;
               
            }
            .column2{
            border-right: 1px solid black;
            padding: 9% 7%;   
            display: flex;
            flex-direction: column;
            }
            .column3{
                border-right: 1px solid black;
                padding: 9% 7%;   
            display: flex;
            flex-direction: column;
            }
            .column4{
                padding: 9% 7%; 
            display: flex;
            flex-direction: column;   
            }
        }
        &_2{
            display: grid;
            grid-template-columns: 65% 35%;
            padding: 0 5%;
            width: 100%;
            height: 100%;

            p{  
                margin-top: 6%;
                color: var(--black, #000);
                font-family: Helvetica;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 113%; 
                letter-spacing: -0.16px;
            }
            &_image{
                background-image: url('/shape.png');
                background-size: contain;
                background-repeat: no-repeat;
                height: 100%;
                width: 100%;
            }

        }
        &_3{
            border-top: 1px solid black;
            display: flex;
            background: var(--orange, #E97810);
            align-items: center;
            padding:0 5%;
            p{
                color: var(--black, #000);
                font-family: Helvetica;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%; /* 40px */
                letter-spacing: -0.16px;
            }
            
        }
    }
}


@media (max-width:1670px) {
    .work_environment{
    h1{
        font-size: 37px;
    }
    &_main{
        height: 800px;
        &_1{
            font-size: 24px;
            b{
                font-size: 24px;
               }
            
        }
        &_2{
            p{  
                font-size: 33px;
            }

        }
        &_3{
            p{
                font-size: 33px;
            }
            
        }
    }
}}

@media (max-width:1540px) {
    .work_environment{
    h1{
        font-size: 34px;
    }
    &_main{
        height: 730px;
        &_1{
            font-size: 21px;
            b{
                font-size: 21px;
               }
            
        }
        &_2{
            p{  
                font-size: 30px;
            }

        }
        &_3{
            p{
                font-size: 30px;
            }
            
        }
    }
}}

@media (max-width:1400px) {
    .work_environment{
    h1{
        font-size: 30px;
    }
    &_main{
        height: 660px;
        &_1{
            font-size: 20px;
            b{
                font-size: 20px;
               }
            
        }
        &_2{
            p{  
                font-size: 29px;
            }

        }
        &_3{
            p{
                font-size: 29px;
            }
            
        }
    }
}}

@media (max-width:1269px) {
    .work_environment{
    h1{
        font-size: 28px;
    }
    &_main{
        height: 600px;
        &_1{
            font-size: 17px;
            b{
                font-size: 17px;
               }
            
        }
        &_2{
            p{  
                font-size: 27px;
            }

        }
        &_3{
            p{
                font-size: 27px;
            }
            
        }
    }
}}

@media (max-width:1149px) {
    .work_environment{
    h1{
        font-size: 27px;
    }
    &_main{
        height: 550px;
        &_1{
            font-size: 15px;
            b{
                font-size: 15px;
               }
            
        }
        &_2{
            p{  
                font-size: 24px;
            }

        }
        &_3{
            p{
                font-size: 24px;
            }
            
        }
    }
}}

@media (max-width:1061px) {
    .work_environment{
    h1{
        font-size: 25px;
    }
    &_main{
        height: 500px;
        &_1{
            font-size: 12px;
            b{
                font-size: 12px;
               }
            
        }
        &_2{
            p{  
                font-size: 22px;
            }

        }
        &_3{
            p{
                font-size: 22px;
            }
            
        }
    }
}}

@media (max-width:973px){
    .work_environment{
        h1{
            font-size: 23px;
        }
        &_main{
            height: 450px;
            &_1{
                font-size: 12px;
                b{
                    font-size: 12px;
                   }
                
            }
            &_2{
                p{  
                    font-size: 22px;
                }
    
            }
            &_3{
                p{
                    font-size: 22px;
                }
                
            }
        }
    }}
@media (max-width:868px) {
    .work_environment{
        h1{
            font-size: 20px;
        }
        &_main{
            height: 400px;
            &_1{
                font-size: 10px;
                b{
                    font-size: 10px;
                   }
                
            }
            &_2{
                p{  
                    font-size: 19px;
                }
    
            }
            &_3{
                p{
                    font-size: 19px;
                }
                
            }
        }
    }
}

@media (max-width:788px) {
    .work_environment{
      
        &_main{
            height: 390px;}}
}
@media (max-width:768px) {
   
}

@media (max-width:576px) {
    
}

@media (max-width:527px) {
    
}

@media (max-width:434px) {
    
}

@media (max-width:396px) {
    
   
}
