@import '/src/styles/variables.scss';

.button {
  cursor: pointer;
  position: relative;
  text-decoration: none;

  &__inner {
    display: flex;
    flex-direction: column;
    font-size: 10.87px;
    font-weight: 700;
    line-height: 13.58px;
    letter-spacing: -0.11px;
    margin-left: 26px;
    text-transform: uppercase;

    &::before {
      border-radius: 50%;
      background: $primary-color;
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 22px;
      width: 22px;
    }

    &::after {
      color: $white-color;
      content: '+';
      font-size: 12px;
      display: block;
      position: absolute;
      left: 7.5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__title {
    color: $primary-color;
  }

  &__description {
    color: $transparent-color;
  }

  &:hover {
    .button__title {
      transition: 0.2s all ease;
      color: $secondary-color;
    }

    .button__inner::before {
      transition: 0.2s all ease;
      background: $secondary-color;
    }
  }
}
