.nav_links {
  opacity: 0.9;
  height: 357px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 18px;
  top: 30%;
  z-index: 5;
  max-width: 110px;
  width: 100%;

  .road {
    top: 5%;
    height: 335px;
    background-color: #d9d9d9;
    left: 21px;
    overflow: hidden;
    position: absolute;
    transition: background-color 0.25s ease-out;
    width: 0.2352941176vw;
  }

  .road_link {
    top: 5%;
    height: 335px;
    background-color: black;
    left: 21px;
    position: absolute;
    // transition: background-color 0.25s ease-out;
    width: 0.2352941176vw;
    z-index: 3;
  }

  &_list {
    color: var(--black, #000);
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: -0.16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 357px;

    .nav_row {
      color: black;
      display: flex;
      align-items: center;
      pointer-events: visible;
      text-align: left;
      position: relative;
      transition: color 0.25s ease-out;
      &_circle {
        border: 2px solid #d9d9d9;
        border-radius: 100%;
        display: block;
        flex-shrink: 0;
        height: 0.7058823529vw;
        margin-right: 0.8235294118vw;
        transition: background-color 0.25s ease-out, border-color 0.25s ease-out;
        width: 0.7058823529vw;
      }
    }
  }
}
.main_elements {
  scroll-snap-stop: always;
  scroll-snap-align: start;
}
.snap_item {
  scroll-behavior: smooth;
  scroll-snap-align: center;
  //height: 100vh;
  // transition-delay: ease-in-out;
  // transition-duration: 15s;
}
@media (max-width: 1882px) {
  .nav_links {
    .road {
      left: 22px;
    }

    .road_link {
      left: 22px;
    }
  }
}
@media (max-width: 1821px) {
  .nav_links {
    .road {
      left: 23px;
    }

    .road_link {
      left: 23px;
    }
  }
}
@media (max-width: 1640px) {
  .nav_links {
    height: 300px;
    padding: 0 10px 0 18px;
    max-width: 110px;

    .road {
      top: 5%;
      height: 280px;
      left: 23px;
      transition: background-color 0.25s ease-out;
      width: 0.2352941176vw;
    }

    .road_link {
      top: 5%;
      height: 280px;
      left: 23px;
      transition: background-color 0.25s ease-out;
      width: 0.2352941176vw;
    }

    &_list {
      font-size: 13px;
      height: 300px;

      .nav_row {
        &_circle {
          height: 0.7058823529vw;
          margin-right: 0.8235294118vw;
          width: 0.7058823529vw;
        }
      }
    }
  }
}
@media (max-width: 1600px) {
  .nav_links {
    height: 300px;
    padding: 0 10px 0 18px;
    max-width: 110px;
    .road {
      left: 22px;
    }

    .road_link {
      left: 22px;
    }
  }
}
@media (max-width: 1415px) {
  .nav_links {
    height: 300px;
    padding: 0 10px 0 18px;
    max-width: 110px;
  }
}
@media (max-width: 1400px) {
  .nav_links {
    display: none;
  }
  .box {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .nav_links {
    display: none;
  }
  .box {
    width: 100%;
  }
}
